.app {
  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    opacity: 0;
    transition: opacity 500ms var(--e);
    display: none;
    background-color: #fff;
  }

  &__page {
    position: relative;
    z-index: 2;

    &--default {
      overflow: hidden;
      // margin-top: 42.6rem;
      padding-top: 42.6rem;

      @media #{$min769} {
        // margin-top: 40.2rem;
        padding-top: 40.2rem;
      }
    }

    &--home {
      overflow: hidden;
      // margin-top: 100vh;
      padding-top: 100vh;
    }
  }

  &__cookiebar {
    display: none;
    position: fixed;
    bottom: 1.4rem;
    right: 4.6rem;
    left: 4.6rem;
    z-index: 3;

    @media #{$min769} {
      left: auto;
      width: 24rem;
    }
  }

  &.nav-open {
    overflow: hidden;

    .heading {
      &__symbol {
        will-change: opacity, transform;
      }
    }

    .navicon {
      z-index: 5;
    }
  }
}
