.content {
  &__section {
    position: relative;

    &--player {
      padding: 0rem 0 1.6rem;

      @media #{$min769} {
        padding: 4.7rem 0 6.5rem;
      }
    }
  }

  &__wysiwyg {
    padding: 1rem 0;

    @media #{$min769} {
      padding: 2.9rem 0;
    }
  }

  &__quick-nav {
    margin-top: -2.7rem;
    margin-bottom: -1.1rem;

    @media #{$min769} {
      margin-top: -4rem;
      margin-bottom: 6.1rem;
    }
  }

  &__expand {
    @media #{$min769} {
      padding: 1.7rem 0;
    }
  }

  &__player {
    transition: border-width 300ms;
    border: solid 0.4rem #ffd800;

    @media #{$min769} {
      border: solid 1.2rem #ffd800;
    }
  }

  &__hero {
    height: 100vh;
    position: fixed;
    will-change: transform;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__tiles {
    position: relative;
    z-index: 2;
  }
}
