.cookiebar {
  background-color: #fff;
  color: #212121;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.01em;

  &__container {
    padding: 1.5rem 2rem;
    position: relative;
  }

  &__text {
    p {
      margin: 0.3em 0;
    }

    a {
      color: #f3c007;
      display: inline-block;
      text-decoration: underline;
    }
  }

  &__close {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: transform 350ms var(--easeOutBack);

    &:before,
    &:after {
      transition: background-color 350ms var(--e);
      // transition: transform 350ms var(--easeOutBack), background-color 350ms var(--easeOutBack);
      content: '';
      position: absolute;
      width: 1px;
      top: 1rem;
      right: 1.9rem;
      height: 2rem;
      background-color: rgb(33, 33, 33);
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    @include hover {
      transform: rotate(180deg);

      &:before,
      &:after {
        background-color: #f3c007;
      }
    }
  }
}
