.fitness {
  &__form {
    width: 100%;
    max-width: 126rem;
    margin: 0 auto;
  }

  &__columns {
    @media #{$min769} {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -4rem;
    }
  }

  &__column {
    padding: 1rem 2rem;

    @media #{$min769} {
      width: 50%;
      padding: 0.4rem 6.3% 0rem 7.8%;
    }

    &--times {
      border-bottom: solid 1px #efefef;

      @media #{$min769} {
        border-bottom: none;
        border-right: solid 1px #efefef;
      }
    }

    &--details {
      padding: 4.6rem 2rem;

      @media #{$min769} {
        padding: 0.4rem 6.3% 0rem 7.8%;
      }
    }
  }

  &__subtitle {
    color: #212121;
    font-size: 2.4rem;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;

    letter-spacing: 0.24rem;
    line-height: 1.2;
  }

  &__info {
    color: #a0a0a0;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.14rem;
    line-height: 1.29;
    padding: 0.1rem 0;

    @media #{$min769} {
      padding: 0.3rem 0;
    }
  }

  &__times {
    display: flex;
    flex-wrap: wrap;
    margin: 2.4rem -1rem 2.7rem;

    @media #{$min769} {
      padding-right: 3.3rem;
      margin: 3.1rem -2.3rem;
    }
  }

  &__select {
    display: block;
    position: relative;
    padding: 1.2rem 1rem;
    width: 50%;

    @media #{$min769} {
      padding: 1.5rem 2.3rem;
    }
  }

  &__block {
    display: block;
    border-radius: 0.4rem;
    border: 1px solid #e5e5e5;
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 1.2rem 1rem 0.2rem;

    &:after {
      content: '';
      position: absolute;
      border-radius: inherit;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: solid 3px #f3c007;
      opacity: 0;
    }

    &.has-value {
      border-color: #f3c007;

      &:after {
        opacity: 1;
      }
    }
  }

  &__native {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  &__label {
    color: #a0a0a0;
    font-size: 1.4rem;
    font-weight: 400;

    letter-spacing: 0.14rem;
    line-height: 1;
  }

  &__weekday {
    color: #212121;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;

    letter-spacing: 0.18rem;
    line-height: 1;
    padding: 0.8rem 0;
  }

  &__time {
    color: #212121;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 0.8;
    text-transform: uppercase;
  }

  &__details {
    padding: 1.9rem 0;

    @media #{$min769} {
      padding: 3.6rem 15.4% 3.6rem 0;
    }
  }

  &__row {
    display: flex;
    margin: 0 -2rem;
    padding: 0.1rem 0 0rem;

    @media #{$min769} {
      padding: 0.6rem 0 0.7rem;
    }

    &--rules {
      padding: 1.4rem 0 0.4rem;

      @media #{$min769} {
        padding: 2.4rem 0 1.6rem;
      }
    }

    &--submit {
      padding: 0.6rem 2rem 0.7rem;
      justify-content: center;

      @media #{$min769} {
        justify-content: flex-end;
      }
    }
  }

  &__submit {
    width: auto;
    min-width: 20.2rem;
  }
}