.header {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  clip: rect(0, auto, auto, 0);
  backface-visibility: hidden;
  pointer-events: none;
  z-index: 4;

  &__content {
    height: 6.9rem;
    position: fixed;
    will-change: transform;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: all;
    color: currentColor;
    z-index: 5;

    @media #{$min769} {
      height: 8.6rem;
    }

    &--white {
      color: #fff;
    }

    &--black {
      color: #212121;
      background-color: #fff;
    }
  }

  &__logo {
    position: absolute;
    top: 2.7rem;
    left: 2rem;
    width: 7.6rem;
    height: 1.5rem;
    display: block;
    font-size: 0;

    @media #{$min769} {
      width: 9.9rem;
      height: 1.9rem;
      top: 3.3rem;
      left: 4rem;
    }

    svg {
      display: block;
      width: 100%;
    }

    &--white {
      path {
        fill: #fff;
      }
    }
  }

  &__triggers {
    position: absolute;
    top: 1.1rem;
    right: 5.3rem;
    display: flex;

    @media #{$min769} {
      top: 1.5rem;
      right: 11.5%;
    }
  }

  &__trigger {
    font-size: 1rem;
    padding: 1.4rem 1.8rem;
    color: currentColor;

    @media #{$min769} {
      font-size: 1.2rem;
      padding: 1.8rem;
    }

    &:before,
    &:after {
      bottom: 1.1rem;
      left: 1.8rem;
      right: 1.8rem;
    }

    &--hours {
      display: none;

      &:before {
        display: none;
      }

      @media #{$min769} {
        display: block;
      }
    }
    @include hover {
      .hours {
        &__wrapper {
          pointer-events: all;
          opacity: 1;

          cursor: default;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}
