.modal {
  // transition: height 1ms linear 999s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  overflow-x: hidden;
  overflow-y: scroll;
  visibility: hidden;
  pointer-events: all;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);

  &--white {
    background-color: #fff;
  }

  @media #{$min769} {
    padding: 9rem 4rem;
  }

  &__backdrop {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__dialog {
    background-color: #fff;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 102.4rem;
    z-index: 2;

    &--m {
      max-width: 72.6rem;
    }

    &--full {
      max-width: none;
    }
  }

  &__content {
    padding: 7.2rem 0;

    @media #{$min769} {
      padding: 0;
    }
  }

  &__text {
    padding: 0 2rem;
  }

  &__header {
    height: 7.2rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 1px #efefef;
    z-index: 3;

    @media #{$min769} {
      background-color: transparent;
      height: 9rem;
      border-bottom: none;
    }
  }

  &__close-text {
    position: absolute;
    top: 1.3rem;
    right: 1.7rem;
    z-index: 3;
    font-size: 1.4rem;

    @media #{$min769} {
      // position: fixed;
      top: 2.6rem;
      right: 4rem;
    }
  }

  &__title {
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
    color: #212121;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;

    @media #{$min769} {
      padding: 3rem;
    }
  }

  &__close-icon {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: transform 350ms var(--easeOutBack);
    z-index: 3;

    &:before,
    &:after {
      transition: background-color 350ms var(--e);
      content: '';
      position: absolute;
      width: 1px;
      top: 1rem;
      right: 1.9rem;
      height: 2rem;
      background-color: #fff;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    @include hover {
      transform: rotate(180deg);

      &:before,
      &:after {
        background-color: #f3c007;
      }
    }
  }

  &__fitness {
    padding: 7.3rem 0;
    @media #{$min769} {
      padding: 0;
    }
  }
}
