.navicon {
  position: fixed;
  will-change: transform;
  top: 1.1rem;
  right: 0rem;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.8rem 2rem;
  cursor: pointer;
  pointer-events: all;
  color: currentColor;

  &--white {
    color: #fff;
  }

  &--black {
    color: #212121;
  }

  @media #{$min769} {
    padding: 1.8rem 2.2rem 1.8rem 6.2rem;
    top: 1.6rem;
    right: 1.8rem;
  }

  &__label {
    position: absolute;
    top: 1.6rem;
    right: 5.3rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    display: none;

    @media #{$min769} {
      transition: transform 220ms var(--e);
      display: block;
    }
  }

  &__icon {
    width: 2.4rem;
    height: 1.7rem;
    display: block;
    position: relative;
  }

  &__bar {
    display: block;
    position: absolute;
    right: 0;
    background-color: currentColor;
    height: 1px;
    width: 2.4rem;
    top: 0.7rem;
    transform-origin: 100% 50%;
    transition: transform 220ms var(--e);

    &--1 {
      transform: translate3d(0, -0.8rem, 0) scale(0.83, 1);
    }

    &--2 {
      transform: scale(0.58, 1);
    }

    &--3 {
      transform: translate3d(0, 0.8rem, 0);
    }
  }

  @include hover {
    .navicon {
      &__label {
        transform: translate3d(-0.2rem, 0, 0);
      }

      &__bar {
        &--1 {
          transform: translate3d(0, -0.8rem, 0) scale(1, 1);
        }

        &--2 {
          transform: scale(0.83, 1) translate3d(-0.5rem, 0, 0);
        }

        &--3 {
          transform: translate3d(-1rem, 0.8rem, 0) scale(0.58, 1);
        }
      }
    }
  }
}
