.booking {
  &__intro {
    text-align: center;
    padding: 0rem 7%;
  }

  &__tabs {
    padding: 1.5rem 0;
    @media #{$min769} {
      padding: 5.5rem 0;
    }
  }

  &__plans {
    width: 100%;
    overflow: hidden;
  }

  &__scroll {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    height: 40rem;
    @media #{$min769} {
      height: 53rem;
    }
  }

  &__plan {
    display: none;
    width: 84rem;
    height: 100%;

    &.is-active {
      display: block;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    padding: 3.1rem 0 1rem;
  }

  &__floors {
    font-weight: 500;
    font-size: 1.4rem;
    display: block;
    letter-spacing: 0.02em;
    margin-right: 1.9rem;
  }

  &__bullets {
  }

  &__bullet {
    @include flex;
    text-align: center;
    cursor: pointer;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    border: 1px solid #ededed;
    color: #212121;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 0.6rem;
    padding-top: 0.3rem;
    transition: border-color 200ms var(--e), background-color 200ms var(--e);

    @include hover {
      border-color: #f3c007;
    }

    &.is-active {
      background-color: #f3c007;
    }
  }
}

@keyframes grab {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-4rem, 0, 0);
  }
}

.grab {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2rem 0;
  &__icon {
    width: 2rem;
    height: 3.3rem;
    svg {
      animation: grab 1000ms var(--e) 500ms infinite;

      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__label {
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.18rem;
    display: block;
    margin-left: 2rem;
  }
  @media #{$min769} {
    display: none;
  }
}
