.catering {
  position: relative;
  padding: 5.4rem 2rem 10.8rem;

  @media #{$min769} {
    padding: 4rem 4.5rem;
  }

  &__content {
    padding-bottom: 0;

    @media #{$min769} {
      padding-right: 49%;
    }
  }

  &__intro {
    font-weight: 400;
    font-size: 1.4rem;

    @media #{$min769} {
      font-size: 1.6rem;
    }
  }

  &__text {
    padding-bottom: 1.9rem;

    @media #{$min769} {
      padding-bottom: 0;
    }

    p {
      margin: 1.2em 0;

      @media #{$min769} {
        margin: 1em 0;
      }
    }
  }

  &__media {
    display: block;
    margin: 2rem 0;
    width: 100%;

    &--2 {
      @media #{$min769} {
        right: 6rem;
        width: 34%;
        height: 30rem;
        display: block;
        position: absolute;
        top: 4.7rem;
      }
    }

    &--3 {
      @media #{$min769} {
        display: block;
        width: 32.2%;
        margin-top: 5.2rem;
        margin-left: 20%;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
