.confirm {
  padding: 4.1rem 2rem;

  @media #{$min769} {
    padding: 3.8rem 4.5rem;
  }

  &__columns {
    @media #{$min769} {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__column {
    padding: 1.7rem 0;

    @media #{$min769} {
      padding-right: 4rem;
    }

    &--1 {
      @media #{$min769} {
        width: 26%;
      }
    }

    &--2 {
      @media #{$min769} {
        width: 32%;
      }
    }

    &--3 {
      @media #{$min769} {
        width: 42%;
      }
    }
  }

  &__subtitle {
    line-height: 1.2;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;

    letter-spacing: 0.24rem;
  }

  &__blocks {
    padding: 1rem 0;

    @media #{$min769} {
      padding: 1rem 0;
    }
  }

  &__block {
    padding: 1rem 0;

    @media #{$min769} {
      padding: 1rem 0;
    }
  }

  &__label {
  }

  &__value {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.032rem;
  }

  &__notes {
    line-height: 1.8;
    padding-bottom: 1.5rem;

    @media #{$min769} {
      padding-bottom: 7rem;
    }
  }

  &__agreement {
    display: block;
    margin: 0 -2rem;

    @media #{$min769} {
      margin: 0;
      position: absolute;
      right: 4.5rem;
      display: block;
      width: auto;
      bottom: 15rem;
      z-index: 4;
    }
  }
}
