.display {
  &__blocks {
    padding: 0 0 2.1rem;

    @media #{$min769} {
      padding: 0 0 1.9rem;
    }

    @include clearfix;
  }

  &__media {
    display: block;
    margin: 3rem 0;
    overflow: visible;

    @media #{$min769} {
      overflow: hidden;
      float: left;
      margin: 4.3% 4.7% 4.3% 0;
    }

    &--1 {
      @media #{$min769} {
        width: 44%;
        margin-top: 23.4%;
        padding-top: 42%;
      }
    }

    &--2 {
      @media #{$min769} {
        width: 49%;
        margin-right: 0;
        padding-top: 33.8%;
      }
    }

    &--3 {
      @media #{$min769} {
        width: 30.4%;
        padding-top: 29%;
      }
    }
  }

  &__image {
    object-fit: cover;

    @media #{$min769} {
      position: absolute;
      top: 0;
      left: 0;
    }

    &--1 {
      @media #{$min769} {
        top: -7rem;
      }
    }

    &--2 {
      @media #{$min769} {
        bottom: -5rem;
      }
    }

    &--3 {
      @media #{$min769} {
        bottom: -3rem;
      }
    }

    &[data-parallax] {
      height: auto;
      @media #{$max768} {
        transform: none !important;
        will-change: auto !important;
      }
    }
  }
}
