.gallery {
  &__slider {
    @include absolute;
  }

  &__media {
    @include absolute;
    width: 100%;
    height: 100%;
  }

  &__bullets {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 3;
    left: 0;
    width: 100%;
    bottom: 1.8rem;
  }

  &__bullet {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    margin: 0.4rem;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
    }
    &:before {
      border: solid 1px #fff;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: opacity 200ms var(--e), transform 200ms var(--e);
      transform: scale(0.5);
    }
    &:after {
      top: 0.6rem;
      right: 0.6rem;
      left: 0.6rem;
      bottom: 0.6rem;
      background-color: #fff;
    }
    @include hover {
      &:before {
        transform: scale(0.8);
        opacity: 0.3;
      }
    }
    &.is-active {
      &:before {
        transform: scale(1);
        opacity: 0.5;
      }
      @include hover {
        &:before {
          transform: scale(1.2);
          opacity: 0.7;
        }
      }
    }
  }
}
