.hero {
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include flex;
  height: inherit;
  min-height: inherit;
  position: relative;
  z-index: 2;
  padding-bottom: 10vh;

  &__scene {
    max-width: 100%;
    max-height: 100%;
    @media #{$min769} {
      width: 35.2rem;
      height: 35.2rem;
    }
  }

  &__play {
    bottom: 36vh;
    z-index: 5;
  }

  &__scrollto {
    position: absolute;
    left: 50%;
    z-index: 5;
    bottom: 3.2rem;

    @media #{$min769} {
      bottom: 4.2rem;
    }
  }
}
