.hours {
  position: relative;
  &__wrapper {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
		left: 1.8rem;
		transition: opacity 220ms var(--e), transform 220ms var(--e);
    transform: translate3d(0, -2rem, 0);
  }
  &__row {
    display: block;
    white-space: nowrap;
  }
}
