.info {
  &__columns {
    width: 100%;

    @media #{$min769} {
      display: flex;
      flex-wrap: wrap;
      // margin-top: 40.2rem;
    }
  }

  &__column {
    padding: 0 2rem;

    @media #{$min769} {
      padding: 0 4.4rem;
      width: 50%;
    }
  }

  &__subtitle {
    color: #212121;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;

    letter-spacing: 0.24rem;
  }

  &__row {
    width: calc(100% + 4rem);
    margin: 0 -2rem;
    display: block;

    @media #{$min769} {
      display: flex;
      padding: 0.7rem 0;
    }

    &--radios {
      margin: 0 0;
      padding: 1.4rem 0;

      @media #{$min769} {
        padding: 2rem 1rem 2rem 0;
      }
    }
  }

  &__gender-label {
    display: inline-block;
    flex: 0 0 31%;
    color: #000000;
    font-weight: 400;

    letter-spacing: 0.14rem;
    vertical-align: middle;
    padding: 0.6rem 0;
  }

  &__radio {
    color: #000000;
    font-weight: 400;
    margin: 1.3rem -2rem;

    @media #{$min769} {
      margin: 0 -2rem;
    }
  }

  &__notes {
    padding: 0rem 2;

    @media #{$min769} {
      padding: 0rem 4.4rem;
    }
  }
}
