.map {
	text-align: center;
	padding: 0 2rem;
	&__embed {
	height: 40rem;
	@include  tablet {
		height: 51.6rem;
	}
	}
	&__address {
		line-height: 1.29;
		padding: 1.6rem;
		font-weight: 500;
		@media #{$min769} {
		padding: 4rem;

		}
		// padding: 3rem;
	}
}