.more {
  position: relative;

  &__slider {
    position: relative;
  }

  &__container {
    position: relative;
    z-index: 2;
  }

  &__image {
    height: 48rem;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__nav {
    z-index: 3;
    position: absolute;
    bottom: 2.7rem;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: block;

    &--prev {
      right: 10rem;
    }

    &--next {
      right: 5rem;
    }
  }

  &__content {
    background-color: #fff;
    font-size: 1.4rem;
    padding: 3.1rem 22% 3.1rem 4.5rem;
  }

  &__section {
    padding: 0.7rem 0;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
  }

  &__text {
    p {
      margin: 1.1em 0;
    }
  }
}
