.payment {
  text-align: center;

  &__container {
    max-width: 65rem;
    margin: auto;

    padding: 5.7rem 2rem;

    @media #{$min769} {
      padding: 3.7rem 4.5rem;
    }
  }

  &__subtitle {
    line-height: 1.2;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;

    letter-spacing: 0.24rem;
  }

  &__types {
    display: flex;
    justify-content: center;
    padding: 3.2rem 0 1.2rem;
    margin: 0 0 0 -4rem;

    @media #{$min769} {
      padding: 5.1rem 0 1.2rem;
    }
  }

  &__type {
    width: auto;
    text-align: left;
    margin: 0;
    padding: 0 0 0 2rem;

    @media #{$min769} {
      padding: 0 2rem;
      padding: 0 0 0 2rem;
    }
  }

  &__info {
  }

  &__content {
    padding: 0rem 0;
  }

  &__banks {
    justify-content: center;
    display: none;

    &.is-active {
      display: block;

      @media #{$min769} {
        display: flex;
      }
    }
  }

  &__bank {
    padding: 0.5rem 1rem;

    @media #{$min769} {
      padding: 0.1rem 1rem;

      width: 33.3%;
    }
  }

  &__block {
    display: block;
    border-radius: 0.4rem;
    border: 1px solid #e5e5e5;
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 2.5rem 1rem 1.6rem;

    &:after {
      content: '';
      position: absolute;
      border-radius: inherit;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: solid 3px #f3c007;
      opacity: 0;
    }

    &.has-value {
      border-color: #f3c007;

      &:after {
        opacity: 1;
      }
    }
  }

  &__radio {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    cursor: pointer;
  }

  &__logo {
    display: inline-block;
    width: 100%;
    height: 2.9rem;
    object-fit: contain;
    object-position: 50% 50%;
  }

  &__credentials {
    display: none;

    &.is-active {
      display: block;
    }

    p {
      margin: 0;
    }
  }

  @media #{$min769} {
  }
}
