.promo {
  &__media {
    display: block;
    height: 35.4;
    width: 100%;

    @media #{$min769} {
      height: 48rem;
    }
  }

  &___image {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__content {
    text-align: center;
    padding: 4.3rem 2rem 2rem;

    @media #{$min769} {
      padding: 3.8rem 20% 2rem;
    }
  }

  &__intro {
    font-weight: 500;
    font-size: 1.6rem;
  }

  &__text {
    padding: 0;
    line-height: 1.8;

    p {
      margin: 1.1em 0;
    }
  }

  &__actions {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  &__action {
    display: flex;
    width: auto;
    margin: 1.5rem;
    min-width: 15rem;

    @media #{$min769} {
      margin: 2.1rem;
      min-width: 20rem;
    }
  }
}
