.quick-nav {
  &__list {
    display: flex;
    color: #f3c007;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @media #{$min769} {
      flex-direction: row;
    }
  }

  &__item {
    margin: 0.4rem 0;

    @media #{$min769} {
      margin: 0 3.8rem 0 0;
    }
  }
}
