.quote {
  text-align: center;
  padding: 9rem 0;
  position: relative;

  @media #{$min769} {
    padding: 12rem 0;
  }

  &__frame {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 14.2rem;
    left: calc(50% - 7.1rem);
    border: 1rem solid #ffd800;

    @media #{$min769} {
      top: 4.7rem;
      bottom: 3.8rem;
      width: 21rem;
      left: calc(50% - 10.5rem);
      border: 1.8rem solid #ffd800;
    }
  }

  &__text {
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.2;
    text-transform: uppercase;
    position: relative;
    z-index: 2;

    @media #{$min769} {
      font-size: 6rem;
      line-height: 1.4;
    }
  }
}
