.scene {
  width: 15.2rem;
  height: 15.2rem;
  margin: auto;
  position: relative;
  max-width: 15.2rem;
  max-height: 15.2rem;

  @media #{$min769} {
    max-width: none;
    max-height: none;
  }

  &__shape {
    will-change: transform;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    position: absolute;

    &--background {
      z-index: 1;
    }

    &--foreground {
      z-index: 3;
    }
  }

  &__media {
    will-change: transform;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 2;

    &--hero {
      top: -28%;
      left: -7%;
      width: 135%;
      height: 134%;
    }

    &--nav {
      top: -30%;
      left: 5%;
      width: 94%;
      height: 141%;
    }

    &--default {
      &--1 {
        top: -78%;
        left: -47%;
        width: 180%;
        height: 209%;
      }

      &--2 {
        top: -37%;
        left: -70%;
        width: 181%;
        height: 150%;
      }

      &--3 {
        top: -28%;
        left: -7%;
        width: 135%;
        height: 134%;
      }

      &--4 {
        top: -80%;
        left: -83%;
        width: 290%;
        height: 237%;
      }
    }

    &--tiles {
      &--1 {
        top: -90%;
        left: 1%;
        width: 75%;
        height: 293%;
      }

      &--2 {
        top: -58%;
        left: -7%;
        width: 157%;
        height: 197%;
      }

      &--3 {
        top: -61%;
        left: -88%;
        width: 235%;
        height: 184%;
      }

      &--4 {
        top: -68%;
        left: 13%;
        width: 75%;
        height: 236%;
      }

      &--5 {
        top: -87%;
        left: -57%;
        width: 174%;
        height: 279%;
      }

      &--6 {
        top: -23%;
        left: -55%;
        width: 215%;
        height: 177%;
      }
    }

    &--gateway {
      &--1 {
        top: -70%;
        left: -10%;
        width: 116%;
        height: 190%;
      }

      &--2 {
        top: -10%;
        left: -22%;
        width: 147%;
        height: 140%;
      }
    }

    &--selection {
      &--1 {
        top: -9%;
        left: -6%;
        width: 119%;
        height: 118%;
      }

      &--2 {
        top: -13%;
        left: 5%;
        width: 133%;
        height: 113%;
      }
    }

    &--wizard {
      &--1 {
        top: -9%;
        left: -6%;
        width: 119%;
        height: 118%;
      }

      &--2 {
        top: -13%;
        left: 5%;
        width: 133%;
        height: 113%;
      }

      &--3 {
        top: -9%;
        left: -6%;
        width: 119%;
        height: 118%;
      }

      &--4 {
        top: -13%;
        left: 5%;
        width: 133%;
        height: 113%;
      }
    }

    &--contacts {
      top: -70%;
      left: -10%;
      width: 116%;
      height: 190%;
    }
  }

  &__stroke {
    fill: transparent;
  }

  &__image {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    z-index: 2;
    max-width: none;
  }

  &__heading {
    @include flex;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4;
    left: 0;
    right: 0;
    color: #fff;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 3.6rem;
    font-weight: 500;

    @media #{$min769} {
      left: -100%;
      right: -100%;
      font-size: 4.8rem;
    }

    &--teal {
      color: #64c3ab;
      line-height: 1;
    }

    &--huge {
      @media #{$min769} {
        font-size: 7.2rem;
      }
    }
  }
  &._shouldTween {
    will-change: opacity, transform;
    .heading {
      &__symbol {
        will-change: opacity, transform;
      }
    }
  }
}
