.services {
  padding: 3rem 2rem;

  @media #{$min769} {
    padding: 3rem 4.5rem;
  }

  &__media {
    padding-top: 100%;
    position: relative;
  }

  &__label {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.14rem;

    padding: 1.3rem 0 0.3rem 2.3rem;

    @media #{$min769} {
      padding: 1.3rem 0 1.3rem 2.3rem;
    }

    &:before {
      position: absolute;
      content: '';
      width: 0.8rem;
      height: 0.8rem;
      background-color: #fdc805;
      border-radius: 50%;
      top: 2.2rem;
      left: 0;
    }
  }

  &__intro {
    padding: 2.4rem 0;
    color: #212121;
    font-size: 1.4rem;
    font-weight: 500;
    max-width: 65rem;
    line-height: 1.79;
    letter-spacing: 0.14rem;

    @media #{$min769} {
      letter-spacing: 0.16rem;
      line-height: 1.56;
      padding: 1rem 0;
      font-size: 1.6rem;
    }
  }

  &__blocks {
    padding-right: 29%;

    @media #{$min769} {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -2.2rem;
    }
  }

  &__block {
    padding: 1rem 0;

    @media #{$min769} {
      width: 25%;
      padding: 1.8rem 2.2rem;
    }
  }

  &__image {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__text {
    color: #212121;
    letter-spacing: 0.14rem;
    max-width: 75rem;

    p {
      margin: 0.2em 0 1em;
    }
  }
}