.tiles {
  &__blocks {
    background-color: #fff;
    z-index: 1;

    @media #{$min769} {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__header {
    // z-index: 4;
    z-index: 5;
  }

  &__frame {
    position: absolute;
    top: 19.5%;
    left: 26.6%;
    right: 26.6%;
    bottom: 14.5%;
    border: solid 3rem #fee730;
    z-index: 3;
    display: none;

    @media #{$min769} {
      display: block;
    }
  }

  &__content {
    @include flex;
    @include absolute;
  }

  &__block {
    padding-top: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;

    @media #{$min769} {
      padding-top: 41.4%;
      width: 50%;
    }

    &:nth-child(2n + 2) {
      background-color: #f5f5f5;

      @media #{$min769} {
        background-color: #fff;
      }
    }

    &:nth-child(4n + 2) {
      @media #{$min769} {
        background-color: #f5f5f5;
      }
    }

    &:nth-child(4n + 3) {
      @media #{$min769} {
        background-color: #f5f5f5;
      }
    }

    @include hover {
      &:before {
        transform: scale(1, 1);
      }
    }
  }

  &__scene {
    max-width: 10rem;
    width: 15.2rem;
    height: 15.2rem;

    @media #{$min769} {
      max-width: none;
    }

    &--1,
    &--2,
    &--3,
    &--4 {
      z-index: 3;
    }
  }

  &__trigger {
    @include absolute;
    z-index: 4;
  }
}
