.timer {
  display: flex;
  color: #fff;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
  padding: 1rem 2rem;

  @media #{$min769} {
    padding: 1rem 4rem;
  }

  &__label {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.045rem;
    display: inline-block;
    margin-right: 1.5rem;
    padding-top: 0.3rem;
    white-space: nowrap;
  }

  &__time {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 500;

    letter-spacing: 0.025rem;
  }
}
