.timetable {
  &__scroll {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    @media #{$min769} {
      overflow: visible;
    }
  }

  &__content {
    min-width: 110rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    letter-spacing: 0.001em;
    font-weight: 500;
    padding: 0.4rem 0;
    position: relative;
    z-index: 2;
  }

  &__select {
    display: flex;
    align-items: center;
  }

  &__select-label {
    letter-spacing: 0.04em;
    margin-right: 1.9rem;
  }

  &__choices {
    border: none;
    // display: none;
    appearance: none;
    -webkit-appearance: none;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    transition: opacity 200ms var(--e);

    @include hover {
      opacity: 0.7;
    }

    &--prev {
      margin-right: 3rem;
    }

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;

      @include hover {
        opacity: 0.4;
      }
    }
  }

  &__icon {
    width: 3.6rem;
    height: 3.6rem;
    margin: 0 0.8rem;
  }

  &__nav-label {
    margin: 0 0.7rem;

    &--next {
      margin-right: 0;
    }
  }

  &__table {
    padding: 1.2rem 0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__date {
    font-size: 1.4rem;
    padding: 0.7rem;
    display: block;
  }

  &__weekday {
    color: #212121;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  &__heading {
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
    letter-spacing: 0.1em;
    padding: 0rem 0;
  }

  &__pricing {
    font-size: 1.2rem;
  }

  &__more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 0;
    margin-top: 3.8rem;
    cursor: pointer;
    transition: opacity 200ms var(--e);

    @include hover {
      opacity: 0.6;
    }
  }

  &__more-icon {
    display: inline-block;
    width: 2.1rem;
    height: 2.1rem;
    margin: 0 0.5rem;
  }

  &__more-label {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 0.5rem;
  }

  &__time {
    color: #f3c007;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0 1.4rem;
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      background-color: currentColor;
      top: 0.6rem;
      left: 0;
    }

    &--disabled {
      cursor: not-allowed;
      color: #777777;
    }
  }

  &__col {
    @include flex;
    border: solid 0.2rem #fff;
    background-color: #f8f8f8;
    width: 12.2%;
    text-align: center;
    min-height: 16.6rem;
    font-weight: 400;
    letter-spacing: 0.01em;

    &--head {
      min-height: 7.9rem;
    }

    &--info {
      width: 14.6%;
    }

    &--dark {
      background-color: #e7e7e7;
    }
  }
}
