.wizard {
  &__header {
    height: 32rem;
    position: relative;
  }

  &__visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32rem;
    opacity: 0;
    background-color: #bde1da;
    z-index: 1;

    &.is-up {
      opacity: 1;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__scene {
    background-color: #bde1da;
    height: 100%;
  }

  &__scroller {
    overflow-x: scroll;
    height: 6rem;
    -webkit-overflow-scrolling: touch;

    @media #{$min769} {
      overflow: visible;
    }
  }

  &__bar {
    background-color: #fdc805;
    height: 6rem;
    position: relative;
    z-index: 3;
    width: 77rem;

    @media #{$min769} {
      width: 100%;
    }
  }

  &__triggers {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 72.5%;
    z-index: 1;
    overflow: hidden;
    background-color: #fdc805;
    color: #fff;

    &--clip {
      pointer-events: none;
      z-index: 2;
      color: #fdc805;
      background-color: #fff;
    }
  }

  &__trigger {
    padding: 1.5rem 1rem;
    flex: 1 1 auto;
    text-align: center;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.18rem;
    position: relative;
    z-index: 2;

    &.can-visit {
      cursor: pointer;

      @include hover {
        opacity: 0.8;
      }
    }
  }

  &__timer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 2;
    width: 27.5%;
  }

  &__steps {
    white-space: nowrap;
    font-size: 0;
    overflow-x: hidden;
    overflow-y: visible;
    width: 100%;
    position: relative;
    background-color: #fff;
    z-index: 1;
  }

  &__step {
    background-color: #fff;
    // min-height: 45rem;
    min-height: 58.2rem;
    font-size: 1.4rem;
    width: 100%;
    vertical-align: top;
    z-index: 1;
    position: relative;
    white-space: normal;
    padding-bottom: 2rem;
    display: none;

    @media #{$min769} {
      display: inline-block;
      padding-bottom: 13.2rem;
    }

    &.is-ready {
      position: relative;

      @media #{$min769} {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &.is-active {
      z-index: 2;
      display: inline-block;
    }

    &.is-translating {
      display: block;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
  }

  &__info {
    // padding-right: 6%;
    padding: 5.2rem 0;

    @media #{$min769} {
      padding: 3rem 6% 3rem 0;
    }
  }

  &__actions {
    padding: 2rem;
    z-index: 2;
    display: flex;
    white-space: normal;
    flex-wrap: wrap;
    left: 0;
    align-items: center;
    margin: 0 -1rem;

    @media #{$min769} {
      margin: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      left: auto;
      justify-content: flex-end;
      flex-wrap: nowrap;
      padding: 4rem 5.2rem;
    }
  }

  &__action {
    margin: 2rem 1rem;
    min-width: 0;
    width: calc(50% - 2rem);

    &--next {
      [data-wizard-active-step='4'] & {
        display: none;
      }
    }

    &--confirm {
      display: none;

      [data-wizard-active-step='4'] & {
        display: flex;
      }
    }

    @media #{$min769} {
      width: 100%;
      min-width: 20.4rem;
      margin: 0 1rem;
    }
  }

  &__download {
    z-index: 2;
    font-weight: 400;
    display: block;
    text-align: center;

    svg {
      display: inline-block;
      vertical-align: middle;
      width: 2.3rem;
      height: 2.3rem;
      margin-right: 1rem;
    }

    @media #{$min769} {
      text-align: left;
      position: absolute;
      left: 5.5rem;
      bottom: 12.3rem;
    }
  }

  &__total {
    align-items: flex-end;
    padding-bottom: 2rem;
    width: 100%;
    display: none;

    [data-wizard-active-step='4'] & {
      display: flex;
    }

    @media #{$min769} {
      width: auto;
      padding-bottom: 0;
      margin-right: 3rem;
    }
  }

  &__total-value {
    color: #fdc805;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
  }

  &__total-label {
    line-height: 2.5;
    font-weight: 500;
    display: inline-block;
    padding-right: 1rem;
  }
}
