<div class="{{context}}__intro {{context}}__intro--{{modifier}} intro">

  {% include './header.twig' with { modifier: 'white', context: 'intro' } %}

  {# <i class="intro__background" data-parallax="-30"></i> #}
  
  <i class="intro__background"></i>

  <div class="intro__container">

    {% set options = options|merge({"context":['intro']}) %}

    {% include './scene.twig' with {options: options} %}

  </div>

</div>
