{% set heading = '' %}
{% for line in options.title %}
  {% set heading = heading ~ line %}
  {% if loop.last == false %}
    {% set heading = heading ~ '<br>' %}
  {% endif %}
{% endfor %}

{% set context = options.context|trim %}
{% set modifier = options.modifier|trim %}

{% set top = options.top ? options.top : 0 %}
{% set left = options.left is defined ? options.left : 0 %}
{% set width = options.width is defined ? options.width : 100 %}
{% set height = options.height is defined ? options.height : 100 %}

{% set size = options.size is defined ? options.size : 152 %}
{% set stroke = options.stroke is defined ? options.stroke : 40 %}
{% set color = options.color is defined ? options.color : '#fdc805' %}
{% set tweener = options.tweener is defined ? options.tweener : 'scene' %}
{% set stroke = options.stroke is defined ? options.stroke : 40 %}

{% set radius = (size - stroke) / 2 %}
{% set circumference = (size - stroke) * 3.14159 %}
{% set deg = circumference / 360 %}

{% set diff = options.end - options.start %}
{% set arc = diff * deg %}
{% set dashoffset = -1 * (options.start - 90) * deg %}

<div class="{{context}}__scene {{context}}__scene--{{modifier}} scene _before-tween" data-tweener="{{tweener}}" data-tweener-suspend="{{options.suspend}}" style="width:{{size / 10}}rem;height:{{size / 10}}rem;" data-tweener="{{context}}">

  {% if options.stroke != 0 %}
    <svg class="scene__shape scene__shape--circle scene__shape--background" viewbox="0 0 {{size}} {{size}}">
      <circle data-tweener-shape cx="{{size / 2}}" cy="{{size / 2}}" fill="transparent" r="{{radius}}" stroke-width="{{stroke}}" stroke="{{color}}"/>
    </svg>
  {% endif %}

  <div class="scene__media scene__media--{{context}} scene__media--{{modifier}}" data-tweener-image style="top:{{top}}%;left:{{left}}%;width:{{width}}%;height:{{height}}%;">
    <picture>
      <source srcset="{{options.webp}}" type="image/webp">
      <img class="scene__image scene__image--{{context}} scene__image--{{modifier}}" src="{{options.image}}" title="" alt="" loading="lazy"/>
    </picture>
  </div>

  {% if (options.start is defined) and (options.end is defined) and (options.stroke != 0) %}
    <svg class="scene__shape scene__shape--circle scene__shape--foreground" viewbox="0 0 {{size}} {{size}}">
      <circle data-tweener-shape cx="{{size / 2}}" cy="{{size / 2}}" fill="transparent" stroke-dasharray="{{arc}} {{circumference - arc}}" stroke-dashoffset="{{dashoffset}}" r="{{radius}}" stroke-width="{{stroke}}" stroke="{{color}}"/>
    </svg>
  {% endif %}

  <div class="scene__heading scene__heading--{{modifier}} scene__heading--{{context}} heading">
    {% if (context == 'hero') or (context == 'intro') %}
      <h1 data-tweener-heading>{{heading|trim}}</h1>
    {% elseif (mod == 'email') %}
      <a class="scene__title" href="mailto:{{heading|trim}}" data-tweener-heading>{{heading|trim}}</a>
    {% else %}
      <div class="scene__title" data-tweener-heading>{{heading|trim}}</div>
    {% endif %}
  </div>

</div>
