$min415: 'only screen and (min-width: 415px)'; // portrait
$max768: 'only screen and (max-width: 768px)'; // tablet revese (mobile)
$min769: 'only screen and (min-width: 769px)'; // tablet
$min1024: 'only screen and (min-width: 1024px)'; // laptop
$min1281: 'only screen and (min-width: 1281px)'; // desktop

// :root {
//   --primaryColor: rgb(253, 200, 5);
//   --primaryActive: #0007c5;
//   --primaryFont: 'Graphik';
//   --secondaryColor: #ff5d00;
//   --secondaryActive: darken(var(--secondaryColor), 10%);
//   --secondaryFont: 'Graphik';
//   --greyLighter: #f9f9f9;
//   --greyLight: #f0f1f5;
//   --grey: #e2e2e2;
//   --greyDark: #a3aec2;
//   --greyDarker: #414042;
// }
