@mixin x($container: 6rem, $width: 2.2rem, $height: 0.2rem, $color: #363f4d, $radius: 0) {
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    transform-origin: 50% 50%;
    top: round(($container/2 - $height/2), 1);
    right: round(($container/2 - $width/2), 1);
    width: $width;
    height: $height;
    background-color: $color;
    border-radius: $radius;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
