html {
  color: rgb(33, 33, 33);
  background-color: #fff;
  font-size: 10px;
}

body {
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.72;
  letter-spacing: 0.1em;

  ::-webkit-selection {
    background-color: rgb(33, 33, 33);
    color: #fff;
  }

  :-moz-selection {
    background-color: rgb(33, 33, 33);
    color: #fff;
  }

  ::selection {
    background-color: rgb(33, 33, 33);
    color: #fff;
  }

  ::placeholder {
    opacity: 1;
    transition: all 350ms var(--e);
  }
}

:focus::placeholder {
  opacity: 0.3;
}

a {
  text-decoration: none;
  color: currentColor;

  &[href^='tel'] {
    color: inherit;
  }
}

table {
  max-width: 100%;

  a {
    text-decoration: underline;
  }
}

tr {
  vertical-align: top;
}

td {
  text-align: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
}
