@font-face {
  font-family: 'Cervo';
  src: url('../fonts/Cervo/Cervo-LightItalic.eot');
  src: url('../fonts/Cervo/Cervo-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cervo/Cervo-LightItalic.woff2') format('woff2'),
    url('../fonts/Cervo/Cervo-LightItalic.woff') format('woff'),
    url('../fonts/Cervo/Cervo-LightItalic.ttf') format('truetype'),
    url('../fonts/Cervo/Cervo-LightItalic.svg#Cervo-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/Gotham/GothamPro-Italic.eot');
  src: url('../fonts/Gotham/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamPro-Italic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamPro-Italic.woff') format('woff'),
    url('../fonts/Gotham/GothamPro-Italic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamPro-Italic.svg#GothamPro-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham C2 Text';
  src: url('../fonts/Gotham/GothamC2Text-BoldItalic.eot');
  src: url('../fonts/Gotham/GothamC2Text-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamC2Text-BoldItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamC2Text-BoldItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamC2Text-BoldItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamC2Text-BoldItalic.svg#GothamC2Text-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cervo';
  src: url('../fonts/Cervo/Cervo-Regular.eot');
  src: url('../fonts/Cervo/Cervo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cervo/Cervo-Regular.woff2') format('woff2'),
    url('../fonts/Cervo/Cervo-Regular.woff') format('woff'),
    url('../fonts/Cervo/Cervo-Regular.ttf') format('truetype'),
    url('../fonts/Cervo/Cervo-Regular.svg#Cervo-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Bold.eot');
  src: url('../fonts/Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-Bold.woff') format('woff'),
    url('../fonts/Gotham/Gotham-Bold.ttf') format('truetype'),
    url('../fonts/Gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Narrow Ultra';
  src: url('../fonts/Gotham/GothamNarrow-Ultra.eot');
  src: url('../fonts/Gotham/GothamNarrow-Ultra.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-Ultra.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-Ultra.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-Ultra.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-Ultra.svg#GothamNarrow-Ultra') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/Gotham/GothamRounded-BoldItalic.eot');
  src: url('../fonts/Gotham/GothamRounded-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamRounded-BoldItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamRounded-BoldItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamRounded-BoldItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamRounded-BoldItalic.svg#GothamRounded-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Condensed Book';
  src: url('../fonts/Gotham/GothamCondensed-BookItalic.eot');
  src: url('../fonts/Gotham/GothamCondensed-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-BookItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-BookItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-BookItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-BookItalic.svg#GothamCondensed-BookItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham C2 Text';
  src: url('../fonts/Gotham/GothamC2Text-Italic.eot');
  src: url('../fonts/Gotham/GothamC2Text-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamC2Text-Italic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamC2Text-Italic.woff') format('woff'),
    url('../fonts/Gotham/GothamC2Text-Italic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamC2Text-Italic.svg#GothamC2Text-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'GothamThin';
  src: url('../fonts/Gotham/GothamThin-Italic.eot');
  src: url('../fonts/Gotham/GothamThin-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamThin-Italic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamThin-Italic.woff') format('woff'),
    url('../fonts/Gotham/GothamThin-Italic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamThin-Italic.svg#GothamThin-Italic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham XNarrow';
  src: url('../fonts/Gotham/GothamXNarrow-LightItalic.eot');
  src: url('../fonts/Gotham/GothamXNarrow-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-LightItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-LightItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-LightItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-LightItalic.svg#GothamXNarrow-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham XNarrow';
  src: url('../fonts/Gotham/GothamXNarrow-Light.eot');
  src: url('../fonts/Gotham/GothamXNarrow-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-Light.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-Light.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-Light.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-Light.svg#GothamXNarrow-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham XNarrow Ultra';
  src: url('../fonts/Gotham/GothamXNarrow-Ultra.eot');
  src: url('../fonts/Gotham/GothamXNarrow-Ultra.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-Ultra.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-Ultra.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-Ultra.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-Ultra.svg#GothamXNarrow-Ultra') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Light.eot');
  src: url('../fonts/Gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/Gotham-Light.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-Light.woff') format('woff'),
    url('../fonts/Gotham/Gotham-Light.ttf') format('truetype'),
    url('../fonts/Gotham/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('../fonts/Gotham/GothamRounded-BookItalic.eot');
  src: url('../fonts/Gotham/GothamRounded-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamRounded-BookItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamRounded-BookItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamRounded-BookItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamRounded-BookItalic.svg#GothamRounded-BookItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'GothamUltra';
  src: url('../fonts/Gotham/GothamUltra.eot');
  src: url('../fonts/Gotham/GothamUltra.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamUltra.woff2') format('woff2'),
    url('../fonts/Gotham/GothamUltra.woff') format('woff'),
    url('../fonts/Gotham/GothamUltra.ttf') format('truetype'),
    url('../fonts/Gotham/GothamUltra.svg#GothamUltra') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed Ultra';
  src: url('../fonts/Gotham/GothamCondensed-UltraItalic.eot');
  src: url('../fonts/Gotham/GothamCondensed-UltraItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-UltraItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-UltraItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-UltraItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-UltraItalic.svg#GothamCondensed-UltraItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'GothamBlack';
  src: url('../fonts/Gotham/GothamBlack-Italic.eot');
  src: url('../fonts/Gotham/GothamBlack-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamBlack-Italic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamBlack-Italic.woff') format('woff'),
    url('../fonts/Gotham/GothamBlack-Italic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamBlack-Italic.svg#GothamBlack-Italic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/Gotham/GothamRounded-Medium.eot');
  src: url('../fonts/Gotham/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamRounded-Medium.woff2') format('woff2'),
    url('../fonts/Gotham/GothamRounded-Medium.woff') format('woff'),
    url('../fonts/Gotham/GothamRounded-Medium.ttf') format('truetype'),
    url('../fonts/Gotham/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/Gotham/GothamPro-Light.eot');
  src: url('../fonts/Gotham/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamPro-Light.woff2') format('woff2'),
    url('../fonts/Gotham/GothamPro-Light.woff') format('woff'),
    url('../fonts/Gotham/GothamPro-Light.ttf') format('truetype'),
    url('../fonts/Gotham/GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/Gotham/GothamPro-BlackItalic.eot');
  src: url('../fonts/Gotham/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamPro-BlackItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamPro-BlackItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamPro-BlackItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamPro-BlackItalic.svg#GothamPro-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Cervo';
  src: url('../fonts/Cervo/Cervo-Thin.eot');
  src: url('../fonts/Cervo/Cervo-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cervo/Cervo-Thin.woff2') format('woff2'),
    url('../fonts/Cervo/Cervo-Thin.woff') format('woff'),
    url('../fonts/Cervo/Cervo-Thin.ttf') format('truetype'),
    url('../fonts/Cervo/Cervo-Thin.svg#Cervo-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('../fonts/Gotham/GothamCondensed-Black.eot');
  src: url('../fonts/Gotham/GothamCondensed-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-Black.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-Black.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-Black.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-Black.svg#GothamCondensed-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-BoldItalic.eot');
  src: url('../fonts/Gotham/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/Gotham-BoldItalic.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-BoldItalic.woff') format('woff'),
    url('../fonts/Gotham/Gotham-BoldItalic.ttf') format('truetype'),
    url('../fonts/Gotham/Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham C2 Text';
  src: url('../fonts/Gotham/GothamC2Text-Bold.eot');
  src: url('../fonts/Gotham/GothamC2Text-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamC2Text-Bold.woff2') format('woff2'),
    url('../fonts/Gotham/GothamC2Text-Bold.woff') format('woff'),
    url('../fonts/Gotham/GothamC2Text-Bold.ttf') format('truetype'),
    url('../fonts/Gotham/GothamC2Text-Bold.svg#GothamC2Text-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/Gotham/GothamNarrow-ThinItalic.eot');
  src: url('../fonts/Gotham/GothamNarrow-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-ThinItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-ThinItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-ThinItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-ThinItalic.svg#GothamNarrow-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham XNarrow';
  src: url('../fonts/Gotham/GothamXNarrow-Thin.eot');
  src: url('../fonts/Gotham/GothamXNarrow-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-Thin.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-Thin.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-Thin.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-Thin.svg#GothamXNarrow-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cervo';
  src: url('../fonts/Cervo/Cervo-ThinItalic.eot');
  src: url('../fonts/Cervo/Cervo-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cervo/Cervo-ThinItalic.woff2') format('woff2'),
    url('../fonts/Cervo/Cervo-ThinItalic.woff') format('woff'),
    url('../fonts/Cervo/Cervo-ThinItalic.ttf') format('truetype'),
    url('../fonts/Cervo/Cervo-ThinItalic.svg#Cervo-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Medium.eot');
  src: url('../fonts/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-Medium.woff') format('woff'),
    url('../fonts/Gotham/Gotham-Medium.ttf') format('truetype'),
    url('../fonts/Gotham/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed XLight';
  src: url('../fonts/Gotham/GothamCondensed-XLight.eot');
  src: url('../fonts/Gotham/GothamCondensed-XLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-XLight.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-XLight.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-XLight.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-XLight.svg#GothamCondensed-XLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('../fonts/Gotham/GothamCondensed-BoldItalic.eot');
  src: url('../fonts/Gotham/GothamCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-BoldItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-BoldItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-BoldItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-BoldItalic.svg#GothamCondensed-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/Gotham/GothamNarrow-Medium.eot');
  src: url('../fonts/Gotham/GothamNarrow-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-Medium.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-Medium.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-Medium.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-Medium.svg#GothamNarrow-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham XNarrow Book';
  src: url('../fonts/Gotham/GothamXNarrow-Book.eot');
  src: url('../fonts/Gotham/GothamXNarrow-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-Book.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-Book.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-Book.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-Book.svg#GothamXNarrow-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham C1 Head';
  src: url('../fonts/Gotham/GothamC1Head-Bold.eot');
  src: url('../fonts/Gotham/GothamC1Head-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamC1Head-Bold.woff2') format('woff2'),
    url('../fonts/Gotham/GothamC1Head-Bold.woff') format('woff'),
    url('../fonts/Gotham/GothamC1Head-Bold.ttf') format('truetype'),
    url('../fonts/Gotham/GothamC1Head-Bold.svg#GothamC1Head-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/Gotham/GothamRounded-Bold.eot');
  src: url('../fonts/Gotham/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamRounded-Bold.woff2') format('woff2'),
    url('../fonts/Gotham/GothamRounded-Bold.woff') format('woff'),
    url('../fonts/Gotham/GothamRounded-Bold.ttf') format('truetype'),
    url('../fonts/Gotham/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/Gotham/GothamBold-Italic.eot');
  src: url('../fonts/Gotham/GothamBold-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamBold-Italic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamBold-Italic.woff') format('woff'),
    url('../fonts/Gotham/GothamBold-Italic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamBold-Italic.svg#GothamBold-Italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham XNarrow';
  src: url('../fonts/Gotham/GothamXNarrow-Black.eot');
  src: url('../fonts/Gotham/GothamXNarrow-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-Black.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-Black.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-Black.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-Black.svg#GothamXNarrow-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url('../fonts/Gotham/GothamProNarrow-Medium.eot');
  src: url('../fonts/Gotham/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamProNarrow-Medium.woff2') format('woff2'),
    url('../fonts/Gotham/GothamProNarrow-Medium.woff') format('woff'),
    url('../fonts/Gotham/GothamProNarrow-Medium.ttf') format('truetype'),
    url('../fonts/Gotham/GothamProNarrow-Medium.svg#GothamProNarrow-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/Gotham/GothamRounded-MediumItalic.eot');
  src: url('../fonts/Gotham/GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamRounded-MediumItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamRounded-MediumItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamRounded-MediumItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamRounded-MediumItalic.svg#GothamRounded-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/Gotham/GothamPro-MediumItalic.eot');
  src: url('../fonts/Gotham/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamPro-MediumItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamPro-MediumItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamPro-MediumItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamPro-MediumItalic.svg#GothamPro-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/Gotham/GothamNarrow-LightItalic.eot');
  src: url('../fonts/Gotham/GothamNarrow-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-LightItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-LightItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-LightItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-LightItalic.svg#GothamNarrow-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('../fonts/Gotham/GothamCondensed-Thin.eot');
  src: url('../fonts/Gotham/GothamCondensed-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-Thin.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-Thin.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-Thin.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-Thin.svg#GothamCondensed-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham XNarrow Book';
  src: url('../fonts/Gotham/GothamXNarrow-BookItalic.eot');
  src: url('../fonts/Gotham/GothamXNarrow-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-BookItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-BookItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-BookItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-BookItalic.svg#GothamXNarrow-BookItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham XNarrow';
  src: url('../fonts/Gotham/GothamXNarrow-ThinItalic.eot');
  src: url('../fonts/Gotham/GothamXNarrow-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-ThinItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-ThinItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-ThinItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-ThinItalic.svg#GothamXNarrow-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/Gotham/GothamPro-Bold.eot');
  src: url('../fonts/Gotham/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamPro-Bold.woff2') format('woff2'),
    url('../fonts/Gotham/GothamPro-Bold.woff') format('woff'),
    url('../fonts/Gotham/GothamPro-Bold.ttf') format('truetype'),
    url('../fonts/Gotham/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/Gotham/GothamPro-Medium.eot');
  src: url('../fonts/Gotham/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamPro-Medium.woff2') format('woff2'),
    url('../fonts/Gotham/GothamPro-Medium.woff') format('woff'),
    url('../fonts/Gotham/GothamPro-Medium.ttf') format('truetype'),
    url('../fonts/Gotham/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham XNarrow';
  src: url('../fonts/Gotham/GothamXNarrow-Medium.eot');
  src: url('../fonts/Gotham/GothamXNarrow-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-Medium.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-Medium.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-Medium.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-Medium.svg#GothamXNarrow-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham XNarrow';
  src: url('../fonts/Gotham/GothamXNarrow-MediumItalic.eot');
  src: url('../fonts/Gotham/GothamXNarrow-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-MediumItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-MediumItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-MediumItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-MediumItalic.svg#GothamXNarrow-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-MediumItalic.eot');
  src: url('../fonts/Gotham/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/Gotham-MediumItalic.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-MediumItalic.woff') format('woff'),
    url('../fonts/Gotham/Gotham-MediumItalic.ttf') format('truetype'),
    url('../fonts/Gotham/Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GothamBlack';
  src: url('../fonts/Gotham/GothamBlack.eot');
  src: url('../fonts/Gotham/GothamBlack.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamBlack.woff2') format('woff2'),
    url('../fonts/Gotham/GothamBlack.woff') format('woff'),
    url('../fonts/Gotham/GothamBlack.ttf') format('truetype'),
    url('../fonts/Gotham/GothamBlack.svg#GothamBlack') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/Gotham/GothamPro-BoldItalic.eot');
  src: url('../fonts/Gotham/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamPro-BoldItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamPro-BoldItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamPro-BoldItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cervo';
  src: url('../fonts/Cervo/Cervo-MediumItalic.eot');
  src: url('../fonts/Cervo/Cervo-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cervo/Cervo-MediumItalic.woff2') format('woff2'),
    url('../fonts/Cervo/Cervo-MediumItalic.woff') format('woff'),
    url('../fonts/Cervo/Cervo-MediumItalic.ttf') format('truetype'),
    url('../fonts/Cervo/Cervo-MediumItalic.svg#Cervo-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/Gotham/GothamPro-Black.eot');
  src: url('../fonts/Gotham/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamPro-Black.woff2') format('woff2'),
    url('../fonts/Gotham/GothamPro-Black.woff') format('woff'),
    url('../fonts/Gotham/GothamPro-Black.ttf') format('truetype'),
    url('../fonts/Gotham/GothamPro-Black.svg#GothamPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed XBlack';
  src: url('../fonts/Gotham/GothamCondensed-XBlackItalic.eot');
  src: url('../fonts/Gotham/GothamCondensed-XBlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-XBlackItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-XBlackItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-XBlackItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-XBlackItalic.svg#GothamCondensed-XBlackItalic')
      format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Cervo';
  src: url('../fonts/Cervo/Cervo-Medium.eot');
  src: url('../fonts/Cervo/Cervo-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cervo/Cervo-Medium.woff2') format('woff2'),
    url('../fonts/Cervo/Cervo-Medium.woff') format('woff'),
    url('../fonts/Cervo/Cervo-Medium.ttf') format('truetype'),
    url('../fonts/Cervo/Cervo-Medium.svg#Cervo-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/Gotham/GothamRounded-Light.eot');
  src: url('../fonts/Gotham/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamRounded-Light.woff2') format('woff2'),
    url('../fonts/Gotham/GothamRounded-Light.woff') format('woff'),
    url('../fonts/Gotham/GothamRounded-Light.ttf') format('truetype'),
    url('../fonts/Gotham/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/Gotham/GothamNarrow-BoldItalic.eot');
  src: url('../fonts/Gotham/GothamNarrow-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-BoldItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-BoldItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-BoldItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-BoldItalic.svg#GothamNarrow-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('../fonts/Gotham/GothamRounded-Book.eot');
  src: url('../fonts/Gotham/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamRounded-Book.woff2') format('woff2'),
    url('../fonts/Gotham/GothamRounded-Book.woff') format('woff'),
    url('../fonts/Gotham/GothamRounded-Book.ttf') format('truetype'),
    url('../fonts/Gotham/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/Gotham/Gotham-BookItalic.eot');
  src: url('../fonts/Gotham/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/Gotham-BookItalic.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-BookItalic.woff') format('woff'),
    url('../fonts/Gotham/Gotham-BookItalic.ttf') format('truetype'),
    url('../fonts/Gotham/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Narrow XLight';
  src: url('../fonts/Gotham/GothamNarrow-XLightItalic.eot');
  src: url('../fonts/Gotham/GothamNarrow-XLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-XLightItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-XLightItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-XLightItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-XLightItalic.svg#GothamNarrow-XLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham XNarrow';
  src: url('../fonts/Gotham/GothamXNarrow-Bold.eot');
  src: url('../fonts/Gotham/GothamXNarrow-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-Bold.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-Bold.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-Bold.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-Bold.svg#GothamXNarrow-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham C1 Head';
  src: url('../fonts/Gotham/GothamC1Head-BoldItalic.eot');
  src: url('../fonts/Gotham/GothamC1Head-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamC1Head-BoldItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamC1Head-BoldItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamC1Head-BoldItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamC1Head-BoldItalic.svg#GothamC1Head-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/Gotham/GothamNarrow-Thin.eot');
  src: url('../fonts/Gotham/GothamNarrow-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-Thin.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-Thin.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-Thin.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-Thin.svg#GothamNarrow-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url('../fonts/Gotham/GothamProNarrow-Bold.eot');
  src: url('../fonts/Gotham/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamProNarrow-Bold.woff2') format('woff2'),
    url('../fonts/Gotham/GothamProNarrow-Bold.woff') format('woff'),
    url('../fonts/Gotham/GothamProNarrow-Bold.ttf') format('truetype'),
    url('../fonts/Gotham/GothamProNarrow-Bold.svg#GothamProNarrow-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed XLight';
  src: url('../fonts/Gotham/GothamCondensed-XLightItalic.eot');
  src: url('../fonts/Gotham/GothamCondensed-XLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-XLightItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-XLightItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-XLightItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-XLightItalic.svg#GothamCondensed-XLightItalic')
      format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('../fonts/Gotham/GothamCondensed-Light.eot');
  src: url('../fonts/Gotham/GothamCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-Light.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-Light.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-Light.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-Light.svg#GothamCondensed-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham C1 Head';
  src: url('../fonts/Gotham/GothamC1Head-Italic.eot');
  src: url('../fonts/Gotham/GothamC1Head-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamC1Head-Italic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamC1Head-Italic.woff') format('woff'),
    url('../fonts/Gotham/GothamC1Head-Italic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamC1Head-Italic.svg#GothamC1Head-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/Gotham/GothamNarrow-MediumItalic.eot');
  src: url('../fonts/Gotham/GothamNarrow-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-MediumItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-MediumItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-MediumItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-MediumItalic.svg#GothamNarrow-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('../fonts/Gotham/GothamCondensed-LightItalic.eot');
  src: url('../fonts/Gotham/GothamCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-LightItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-LightItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-LightItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-LightItalic.svg#GothamCondensed-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('../fonts/Gotham/GothamMedium-Italic.eot');
  src: url('../fonts/Gotham/GothamMedium-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamMedium-Italic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamMedium-Italic.woff') format('woff'),
    url('../fonts/Gotham/GothamMedium-Italic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamMedium-Italic.svg#GothamMedium-Italic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/Gotham/GothamNarrow-Light.eot');
  src: url('../fonts/Gotham/GothamNarrow-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-Light.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-Light.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-Light.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-Light.svg#GothamNarrow-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed Ultra';
  src: url('../fonts/Gotham/GothamCondensed-Ultra.eot');
  src: url('../fonts/Gotham/GothamCondensed-Ultra.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-Ultra.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-Ultra.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-Ultra.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-Ultra.svg#GothamCondensed-Ultra') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('../fonts/Gotham/GothamCondensed-ThinItalic.eot');
  src: url('../fonts/Gotham/GothamCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-ThinItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-ThinItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-ThinItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-ThinItalic.svg#GothamCondensed-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('../fonts/Gotham/GothamCondensed-Medium.eot');
  src: url('../fonts/Gotham/GothamCondensed-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-Medium.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-Medium.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-Medium.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-Medium.svg#GothamCondensed-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cervo';
  src: url('../fonts/Cervo/Cervo-Light.eot');
  src: url('../fonts/Cervo/Cervo-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cervo/Cervo-Light.woff2') format('woff2'),
    url('../fonts/Cervo/Cervo-Light.woff') format('woff'),
    url('../fonts/Cervo/Cervo-Light.ttf') format('truetype'),
    url('../fonts/Cervo/Cervo-Light.svg#Cervo-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Narrow Book';
  src: url('../fonts/Gotham/GothamNarrow-BookItalic.eot');
  src: url('../fonts/Gotham/GothamNarrow-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-BookItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-BookItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-BookItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-BookItalic.svg#GothamNarrow-BookItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cervo Regular';
  src: url('../fonts/Cervo/Cervo-RegularItalic.eot');
  src: url('../fonts/Cervo/Cervo-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cervo/Cervo-RegularItalic.woff2') format('woff2'),
    url('../fonts/Cervo/Cervo-RegularItalic.woff') format('woff'),
    url('../fonts/Cervo/Cervo-RegularItalic.ttf') format('truetype'),
    url('../fonts/Cervo/Cervo-RegularItalic.svg#Cervo-RegularItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Condensed Book';
  src: url('../fonts/Gotham/GothamCondensed-Book.eot');
  src: url('../fonts/Gotham/GothamCondensed-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-Book.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-Book.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-Book.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-Book.svg#GothamCondensed-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('../fonts/Gotham/GothamCondensed-BlackItalic.eot');
  src: url('../fonts/Gotham/GothamCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-BlackItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-BlackItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-BlackItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-BlackItalic.svg#GothamCondensed-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham XNarrow';
  src: url('../fonts/Gotham/GothamXNarrow-BoldItalic.eot');
  src: url('../fonts/Gotham/GothamXNarrow-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-BoldItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-BoldItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-BoldItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-BoldItalic.svg#GothamXNarrow-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham XNarrow XLight';
  src: url('../fonts/Gotham/GothamXNarrow-XLightItalic.eot');
  src: url('../fonts/Gotham/GothamXNarrow-XLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-XLightItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-XLightItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-XLightItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-XLightItalic.svg#GothamXNarrow-XLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'GothamLight';
  src: url('../fonts/Gotham/GothamLight.eot');
  src: url('../fonts/Gotham/GothamLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamLight.woff2') format('woff2'),
    url('../fonts/Gotham/GothamLight.woff') format('woff'),
    url('../fonts/Gotham/GothamLight.ttf') format('truetype'),
    url('../fonts/Gotham/GothamLight.svg#GothamLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham XNarrow XLight';
  src: url('../fonts/Gotham/GothamXNarrow-XLight.eot');
  src: url('../fonts/Gotham/GothamXNarrow-XLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-XLight.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-XLight.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-XLight.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-XLight.svg#GothamXNarrow-XLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed XBlack';
  src: url('../fonts/Gotham/GothamCondensed-XBlack.eot');
  src: url('../fonts/Gotham/GothamCondensed-XBlack.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-XBlack.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-XBlack.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-XBlack.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-XBlack.svg#GothamCondensed-XBlack') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/Gotham/GothamPro-LightItalic.eot');
  src: url('../fonts/Gotham/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamPro-LightItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamPro-LightItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamPro-LightItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamPro-LightItalic.svg#GothamPro-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Narrow XLight';
  src: url('../fonts/Gotham/GothamNarrow-XLight.eot');
  src: url('../fonts/Gotham/GothamNarrow-XLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-XLight.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-XLight.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-XLight.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-XLight.svg#GothamNarrow-XLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/Gotham/GothamNarrow-BlackItalic.eot');
  src: url('../fonts/Gotham/GothamNarrow-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-BlackItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-BlackItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-BlackItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-BlackItalic.svg#GothamNarrow-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/Gotham/GothamBook.eot');
  src: url('../fonts/Gotham/GothamBook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamBook.woff2') format('woff2'),
    url('../fonts/Gotham/GothamBook.woff') format('woff'),
    url('../fonts/Gotham/GothamBook.ttf') format('truetype'),
    url('../fonts/Gotham/GothamBook.svg#GothamBook') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/Gotham/GothamNarrow-Black.eot');
  src: url('../fonts/Gotham/GothamNarrow-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-Black.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-Black.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-Black.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-Black.svg#GothamNarrow-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/Gotham/GothamRounded-LightItalic.eot');
  src: url('../fonts/Gotham/GothamRounded-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamRounded-LightItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamRounded-LightItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamRounded-LightItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamRounded-LightItalic.svg#GothamRounded-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GothamThin';
  src: url('../fonts/Gotham/GothamThin.eot');
  src: url('../fonts/Gotham/GothamThin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamThin.woff2') format('woff2'),
    url('../fonts/Gotham/GothamThin.woff') format('woff'),
    url('../fonts/Gotham/GothamThin.ttf') format('truetype'),
    url('../fonts/Gotham/GothamThin.svg#GothamThin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/Gotham/GothamNarrow-Bold.eot');
  src: url('../fonts/Gotham/GothamNarrow-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-Bold.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-Bold.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-Bold.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-Bold.svg#GothamNarrow-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamUltra';
  src: url('../fonts/Gotham/GothamUltra-Italic.eot');
  src: url('../fonts/Gotham/GothamUltra-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamUltra-Italic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamUltra-Italic.woff') format('woff'),
    url('../fonts/Gotham/GothamUltra-Italic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamUltra-Italic.svg#GothamUltra-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'GothamExLight';
  src: url('../fonts/Gotham/GothamExLight.eot');
  src: url('../fonts/Gotham/GothamExLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamExLight.woff2') format('woff2'),
    url('../fonts/Gotham/GothamExLight.woff') format('woff'),
    url('../fonts/Gotham/GothamExLight.ttf') format('truetype'),
    url('../fonts/Gotham/GothamExLight.svg#GothamExLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('../fonts/Gotham/GothamMedium.eot');
  src: url('../fonts/Gotham/GothamMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamMedium.woff2') format('woff2'),
    url('../fonts/Gotham/GothamMedium.woff') format('woff'),
    url('../fonts/Gotham/GothamMedium.ttf') format('truetype'),
    url('../fonts/Gotham/GothamMedium.svg#GothamMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GothamLight';
  src: url('../fonts/Gotham/GothamLight-Italic.eot');
  src: url('../fonts/Gotham/GothamLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamLight-Italic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamLight-Italic.woff') format('woff'),
    url('../fonts/Gotham/GothamLight-Italic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamLight-Italic.svg#GothamLight-Italic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Narrow Book';
  src: url('../fonts/Gotham/GothamNarrow-Book.eot');
  src: url('../fonts/Gotham/GothamNarrow-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-Book.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-Book.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-Book.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-Book.svg#GothamNarrow-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham C2 Text';
  src: url('../fonts/Gotham/GothamC2Text.eot');
  src: url('../fonts/Gotham/GothamC2Text.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamC2Text.woff2') format('woff2'),
    url('../fonts/Gotham/GothamC2Text.woff') format('woff'),
    url('../fonts/Gotham/GothamC2Text.ttf') format('truetype'),
    url('../fonts/Gotham/GothamC2Text.svg#GothamC2Text') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamExLight';
  src: url('../fonts/Gotham/GothamExLight-Italic.eot');
  src: url('../fonts/Gotham/GothamExLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamExLight-Italic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamExLight-Italic.woff') format('woff'),
    url('../fonts/Gotham/GothamExLight-Italic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamExLight-Italic.svg#GothamExLight-Italic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-LightItalic.eot');
  src: url('../fonts/Gotham/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/Gotham-LightItalic.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-LightItalic.woff') format('woff'),
    url('../fonts/Gotham/Gotham-LightItalic.ttf') format('truetype'),
    url('../fonts/Gotham/Gotham-LightItalic.svg#Gotham-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham XNarrow';
  src: url('../fonts/Gotham/GothamXNarrow-BlackItalic.eot');
  src: url('../fonts/Gotham/GothamXNarrow-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-BlackItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-BlackItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-BlackItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-BlackItalic.svg#GothamXNarrow-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/Gotham/GothamBold.eot');
  src: url('../fonts/Gotham/GothamBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamBold.woff2') format('woff2'),
    url('../fonts/Gotham/GothamBold.woff') format('woff'),
    url('../fonts/Gotham/GothamBold.ttf') format('truetype'),
    url('../fonts/Gotham/GothamBold.svg#GothamBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('../fonts/Gotham/GothamCondensed-Bold.eot');
  src: url('../fonts/Gotham/GothamCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-Bold.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-Bold.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-Bold.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-Bold.svg#GothamCondensed-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham XNarrow Ultra';
  src: url('../fonts/Gotham/GothamXNarrow-UltraItalic.eot');
  src: url('../fonts/Gotham/GothamXNarrow-UltraItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamXNarrow-UltraItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamXNarrow-UltraItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamXNarrow-UltraItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamXNarrow-UltraItalic.svg#GothamXNarrow-UltraItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham C1 Head';
  src: url('../fonts/Gotham/GothamC1Head.eot');
  src: url('../fonts/Gotham/GothamC1Head.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamC1Head.woff2') format('woff2'),
    url('../fonts/Gotham/GothamC1Head.woff') format('woff'),
    url('../fonts/Gotham/GothamC1Head.ttf') format('truetype'),
    url('../fonts/Gotham/GothamC1Head.svg#GothamC1Head') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/Gotham/GothamPro.eot');
  src: url('../fonts/Gotham/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamPro.woff2') format('woff2'),
    url('../fonts/Gotham/GothamPro.woff') format('woff'),
    url('../fonts/Gotham/GothamPro.ttf') format('truetype'),
    url('../fonts/Gotham/GothamPro.svg#GothamPro') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Narrow Ultra';
  src: url('../fonts/Gotham/GothamNarrow-UltraItalic.eot');
  src: url('../fonts/Gotham/GothamNarrow-UltraItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamNarrow-UltraItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamNarrow-UltraItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamNarrow-UltraItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamNarrow-UltraItalic.svg#GothamNarrow-UltraItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/Gotham/Gotham-Book.eot');
  src: url('../fonts/Gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-Book.woff') format('woff'),
    url('../fonts/Gotham/Gotham-Book.ttf') format('truetype'),
    url('../fonts/Gotham/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('../fonts/Gotham/GothamCondensed-MediumItalic.eot');
  src: url('../fonts/Gotham/GothamCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamCondensed-MediumItalic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamCondensed-MediumItalic.woff') format('woff'),
    url('../fonts/Gotham/GothamCondensed-MediumItalic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamCondensed-MediumItalic.svg#GothamCondensed-MediumItalic')
      format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/Gotham/GothamBook-Italic.eot');
  src: url('../fonts/Gotham/GothamBook-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/GothamBook-Italic.woff2') format('woff2'),
    url('../fonts/Gotham/GothamBook-Italic.woff') format('woff'),
    url('../fonts/Gotham/GothamBook-Italic.ttf') format('truetype'),
    url('../fonts/Gotham/GothamBook-Italic.svg#GothamBook-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}
