fieldset,
button,
input,
textarea,
select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  width: 100%;
  display: block;

  &::-ms-expand {
    display: none;
  }
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

svg:not(:root) {
  overflow: visible;
}

textarea {
  resize: none;
}

main,
article,
section,
header {
  display: block;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-variant-ligatures: no-common-ligatures;
  text-rendering: optimizeLegibility;
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  background-color: inherit;
  color: inherit;
  margin: 0;
}

// img {
//   max-width: 100%;
// }

*,
*:before,
*:after {
  box-sizing: border-box;
}
