.choices {
  font-size: 1.4rem;

  &__inner {
    border: 0.1rem solid #dedede;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    min-height: initial;
    font-weight: 400;
    background-color: #fff;
    padding: 0.4rem 2.9rem 0.2rem 1.6rem;

    .choices[data-type*='select-one'] & {
      padding: 0.4rem 2.9rem 0.2rem 1.6rem;
    }
  }

  &__list--dropdown {
    .choices {
      &__item {
        padding: 0.6rem 2.9rem 0.5rem 1.6rem;
        width: 100%;
        &--selectable {
          padding: 0.6rem 2.9rem 0.5rem 1.6rem;
          @media (min-width: 640px) {
            padding: 0.6rem 2.9rem 0.5rem 1.6rem;
          }
        }
      }
    }
  }
}
