<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><path d="M18.819 22.273l3.219-3.254H10.996v-1.035h11.041L18.82 14.73l.723-.731 4.454 4.503-4.454 4.503z" fill="#a0a0a0"/><path d="M18 1A17 17 0 111 18 17.02 17.02 0 0118 1m0-1a18 18 0 1018 18A18 18 0 0018 0z" fill="#ededed"/></svg>