<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.021 27.997"><path d="M18.02 16.668l-8.008 11.33-8.02-11.346a10.99 10.99 0 01.94-13.78 10.16 10.16 0 0114.158 0 10.992 10.992 0 01.93 13.795zm-4.26-6.953a3.655 3.655 0 10-3.656 3.58 3.622 3.622 0 003.655-3.58z" fill="#fff"/></svg>