<svg xmlns="http://www.w3.org/2000/svg"><path fill="#3f3f3f" d="M15 10h-4V6h-1v4H6v1h4v4h1v-4h4v-1z"/><path d="M10.5 1A9.5 9.5 0 111 10.5 9.51 9.51 0 0110.5 1m0-1A10.5 10.5 0 1021 10.5 10.5 10.5 0 0010.5 0z"/></svg>