{% extends "./partials/_base.twig" %}

{% set options = {
  context: 'default',
  title: ['BOOK A ROOM'],
  image: './media/intro__image--privacy.png',
  webp: './media/intro__image--privacy.webp',
  size: 154,
  stroke: 32,
  top: -78,
  left: -47,
  width: 180,
  height: 209,
  start: 210,
  end: 270,
} %}

{% block page %}

  <div class="app__page app__page--default default">

    {% include './partials/intro.twig' with options %}

    <main class="default__content default__content--booking">

      {% include './partials/header.twig' with { modifier: 'black', context: 'content' } %}

      <section class="default__section default__section--booking">
        <div class="default__container default__container--booking container">
          <div class="default__booking booking">
            <div class="booking__intro">
              <p>Rooms are for 15-20 persons. In room price is included: lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ea commodo consequat.</p>
            </div>
            <div class="booking__tabs tabs" data-tabs="booking">
              <div class="booking__plans">
                <div class="booking__grab grab"></div>
                <div class="booking__scroll">
                  <div class="booking__plan is-active" data-tabs-content="1">
                    <picture>
                      <source media="(max-width: 375px)" srcset="./media/skypark_plan_first_floor.png">
                      <source srcset="./media/skypark_plan_first_floor.png" type="image/png">
                      <source srcset="./media/skypark_plan_first_floor.webp" type="image/webp">
                      <img alt="" class="booking__image" loading="lazy" src="./media/skypark_plan_first_floor.png" title=""/>
                    </picture>
                  </div>
                  <div class="booking__plan" data-tabs-content="2">
                    <picture>
                      <source media="(max-width: 375px)" srcset="./media/skypark_plan_second_floor_2.png">
                      <source srcset="./media/skypark_plan_second_floor_2.png" type="image/png">
                      <source srcset="./media/skypark_plan_second_floor_2.webp" type="image/webp">
                      <img alt="" class="booking__image" loading="lazy" src="./media/skypark_plan_second_floor_2.png" title=""/>
                    </picture>
                  </div>
                </div>
              </div>
              <div class="booking__footer">
                <div class="booking__floors">Choose floor</div>
                <div class="booking__bullet is-active" data-tabs-trigger="1">1</div>
                <div class="booking__bullet" data-tabs-trigger="2">2</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="default__section default__section--timetable">
        <div class="default__container default__container--timetable container">
          <div class="default__timetable timetable" data-timetable>
            <div class="timetable__grab grab"></div>
            <div class="timetable__scroll">
              <div class="timetable__top">
                <div class="timetable__select">
                  <span class="timetable__select-label">Choose week</span>
                  <span class="timetable__dropdown">
                    <select class="timetable__choices" data-timetable-choices>
                      <option value="/query1">04.22 - 04.28</option>
                      <option value="/query2">04.29 - 05.04</option>
                    </select>
                  </span>
                </div>
                <div class="timetable__actions">
                  <span class="timetable__nav timetable__nav--prev timetable__nav--disabled">
                    <i class="timetable__icon timetable__icon--prev">
                      {% include '../svg/arrow--left.svg.twig' %}
                    </i>
                    <span class="timetable__nav-label timetable__nav-label--prev">Previous week</span>
                  </span>
                  <a href="/" class="timetable__nav timetable__nav--next">
                    <span class="timetable__nav-label timetable__nav-label--next">Next week</span>
                    <i class="timetable__icon timetable__icon--next">
                      {% include '../svg/arrow--right.svg.twig' %}
                    </i>
                  </a>
                </div>
              </div>
              <div class="timetable__table">
                <div class="timetable__row timetable__row--head">
                  <div class="timetable__col timetable__col--head timetable__col--info"></div>
                  <div class="timetable__col timetable__col--head timetable__col--dark">
                    <div class="timetable__date">04.22</div>
                    <div class="timetable__weekday">MONDAY</div>
                  </div>
                  <div class="timetable__col timetable__col--head">
                    <div class="timetable__date">04.23</div>
                    <div class="timetable__weekday">TUESDAY</div>
                  </div>
                  <div class="timetable__col timetable__col--head timetable__col--dark">
                    <div class="timetable__date">04.24</div>
                    <div class="timetable__weekday">WEDNESDAY</div>
                  </div>
                  <div class="timetable__col timetable__col--head">
                    <div class="timetable__date">04.25</div>
                    <div class="timetable__weekday">THURSDAY</div>
                  </div>
                  <div class="timetable__col timetable__col--head timetable__col--dark">
                    <div class="timetable__date">04.26</div>
                    <div class="timetable__weekday">FRIDAY</div>
                  </div>
                  <div class="timetable__col timetable__col--head">
                    <div class="timetable__date">04.27</div>
                    <div class="timetable__weekday">SATURDAY</div>
                  </div>
                  <div class="timetable__col timetable__col--head timetable__col--dark">
                    <div class="timetable__date">04.28</div>
                    <div class="timetable__weekday">SUNDAY</div>
                  </div>
                </div>
                <div class="timetable__row">
                  <div class="timetable__col timetable__col--info">
                    <div class="timetable__info" data-tweener="scene">
                      <div class="timetable__heading heading" data-tweener-heading>PASAKA</div>
                      <div class="timetable__pricing">M-F 60€ / Sat-s 85€</div>
                      <div class="timetable__more" data-modal-trigger="room1">
                        <i class="timetable__more-icon">
                          {% include '../svg/plus.svg.twig' %}
                        </i>
                        <span class="timetable__more-label">DAUGIAU</span>
                      </div>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room1" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room1" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room1" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room1" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room1" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room1" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room1" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room1" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room1" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room1" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room1" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room1" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                </div>
                <div class="timetable__row">
                  <div class="timetable__col timetable__col--info">
                    <div class="timetable__info" data-tweener="scene">
                      <div class="timetable__heading heading" data-tweener-heading>JŪRA</div>
                      <div class="timetable__pricing">M-F 60€ / Sat-s 85€</div>
                      <div class="timetable__more" data-modal-trigger="room1">
                        <i class="timetable__more-icon">
                          {% include '../svg/plus.svg.twig' %}
                        </i>
                        <span class="timetable__more-label">DAUGIAU</span>
                      </div>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room2" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room2" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room2" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room2" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room2" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room2" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room2" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room2" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room2" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room2" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room2" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room2" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                </div>
                <div class="timetable__row">
                  <div class="timetable__col timetable__col--info">
                    <div class="timetable__info" data-tweener="scene">
                      <div class="timetable__heading heading" data-tweener-heading>PASAKA</div>
                      <div class="timetable__pricing">M-F 60€ / Sat-s 85€</div>
                      <div class="timetable__more" data-modal-trigger="room1">
                        <i class="timetable__more-icon">
                          {% include '../svg/plus.svg.twig' %}
                        </i>
                        <span class="timetable__more-label">DAUGIAU</span>
                      </div>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room3" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room3" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room3" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room3" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room3" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room3" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room3" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room3" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room3" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room3" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room3" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room3" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                </div>
                <div class="timetable__row">
                  <div class="timetable__col timetable__col--info">
                    <div class="timetable__info" data-tweener="scene">
                      <div class="timetable__heading heading" data-tweener-heading>JŪRA</div>
                      <div class="timetable__pricing">M-F 60€ / Sat-s 85€</div>
                      <div class="timetable__more" data-modal-trigger="room1">
                        <i class="timetable__more-icon">
                          {% include '../svg/plus.svg.twig' %}
                        </i>
                        <span class="timetable__more-label">DAUGIAU</span>
                      </div>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room4" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room4" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room4" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room4" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room4" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room4" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room4" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room4" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room4" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room4" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                  <div class="timetable__col">
                    <div class="timetable__times">
                      <span data-modal-trigger="wizard" data-wizard-room="room4" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                      <span class="timetable__time timetable__time--disabled">11:00 - 12:00</span>
                      <span data-modal-trigger="wizard" data-wizard-room="room4" data-wizard-time="123123" data-wizard-price="15" class="timetable__time">11:00 - 12:00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

  </div>

  {% include './modals/more.twig' %}
  {% include './modals/wizard.twig' %}

{% endblock %}
