{% extends "./partials/_base.twig" %}

{% block page %}

  <div class="app__page app__page--contacts contacts">

    {% include './partials/header.twig' with { modifier: 'white', context: 'contacts' } %}

    {% include './partials/scene.twig' with {options: {
        context: 'contacts',
        modifier: 'email',
        title: ['hello@skypark.lt'],
        image: './media/tile__media--lessons.png',
        webp: './media/tile__media--lessons.webp',
        stroke: 0,
        size: 200,
        top: -70,
        left: -10,
        width: 116,
        height: 190
      }
    } %}

    <a class="contacts__phone" href="tel:+370 650 09391">+370 650 09391</a>

    <div class="contacts__info">
      <div class="contacts__row">
        <div class="contacts__entry">Verkių g. 29, Ogmios miestas Šeimos aikštelė 3 Vilnius</div>
      </div>
      <div class="contacts__row">
        <div class="contacts__entry">I-V 12:00 - 22:00.</div>
        <div class="contacts__entry">VI-VII 10:00 - 22:00</div>
      </div>
    </div>

    <div class="contacts__actions">
      <div class="contacts__action btn btn--white" data-modal-trigger="map">
        <span class="btn__text">VIEW IT ON MAP</span>
      </div>
    </div>

  </div>

  {% include './modals/map.twig' %}

{% endblock %}
