{% extends "./partials/_base.twig" %}

{% set options = {
  context: 'default',

  title: ['F. A. Q.'],
  image: './media/intro__image--safety.png',
  webp: './media/intro__image--safety.webp',
  size: 152,
  stroke: 40,
  top: -28,
  left: -7,
  width: 135,
  height: 134,
} %}

{% block page %}

  <div class="app__page app__page--default default">

    {% include './partials/intro.twig' with options %}

    <main class="default__content">

      {% include './partials/header.twig' with { modifier: 'black', context: 'content' } %}

      <section class="default__section default__section--wysiwyg">
        <div class="default__container default__container--wysiwyg container">

          <div class="default__expand expand" data-expands>
            <div class="expand__items">
              {% for i in 1..5 %}
                <div class="expand__item" data-expands-item="slug{{i}}">
                  <div class="expand__trigger" data-expands-trigger>
                    <div class="expand__title">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit dolor sit amet?
                    </div>
                    <i class="expand__icon"></i>
                  </div>
                  <div class="expand__content" data-expands-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </section>

      </main>

    </div>

  {% endblock %}
