{% extends "./partials/_base.twig" %}

{% block page %}

  <div class="app__page app__page--gateway gateway">

    <div class="gateway__logo">
      {% include '../svg/logo.svg.twig' %}
    </div>

    <div class="gateway__blocks">
      <div class="gateway__block gateway__block--teal">
        {% include './partials/scene.twig' with {options: {
            context: 'gateway',
            
            modifier: 'teal',
            title: ['VILNIUS'],
            image: './media/tile__media--lessons.png',
            webp: './media/tile__media--lessons.webp',
            color: '#85bdb2',
            size: 226,
            stroke: 50,
            top: -70,
            left: -10,
            width: 116,
            height: 190,
            start: 210,
            end: 270
          }
        } %}
        <a class="gateway__trigger" href="home"></a>
      </div>

      <div class="gateway__block gateway__block--yellow">
        {% include './partials/scene.twig' with {options: {
              context: 'gateway',
              modifier: 'yellow',
              title: ['KLAIPĖDA'],
              image: './media/tile__media--fitness.png',
              webp: './media/tile__media--fitness.webp',
              color: '#d5ad1a',
              size: 226,
              stroke: 50,
              top: -10,
              left: -22,
              width: 147,
              height: 140,
              start: 210,
              end: 330,
              suspend: 300
            }
          } %}
        <a class="gateway__trigger" href="home"></a>
      </div>
    </div>

  </div>

{% endblock %}
