{% extends "./partials/_base.twig" %}

{% block page %}

  <div class="app__page app__page--success success">

    {% include './partials/header.twig' with { modifier: 'white', context: 'success' } %}

    <div class="success__container container">

      <div class="success__icon">
        <div class="success__heading heading _before-tween" data-tweener="scene">
          <h1 data-tweener-heading>You have successfully<br>
            bookED a room</h1>
        </div>
        <a href="" class="success__cta btn btn--white">
        <span class="btn__text">WHAT TO KNOW BEFORE YOU COME</span>
        </a>
      </div>

    </div>

    <canvas class="success__confetti" data-confetti="1500"></canvas>

  </div>

  {% include './modals/map.twig' %}

{% endblock %}
