.field {
  padding: 0 2rem;
  margin: 0.6rem 0;
  width: 100%;
  position: relative;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;

  @media #{$min415} {
    margin: 0 auto;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2rem;
    right: 2rem;
    height: 1px;
    background-color: #efefef;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2rem;
    right: 2rem;
    height: 1px;
    transform-origin: 100% 50%;
    transform: scale(0, 1);
    transition: transform var(--easeInOutQuad) 0.2s, background-color var(--easeInOutQuad) 0.16s;
    background-color: #fdc805;
    z-index: 3;
  }

  &--control, &--textarea {
    &:before,
    &:after {
      display: none;
    }
  }

  &__picker {
    position: absolute;
    left: 2rem;
    right: 2rem;
    padding: 3rem 2rem 0;
    top: 100%;
    z-index: 4;
    // background-color: #1c1c1c;
  }

  &__placeholder {
    position: absolute;
    font-size: inherit;
    top: 1.2rem;
    color: #a0a0a0;
    left: 2rem;
    pointer-events: none;
    z-index: 1;
    transform-origin: 0 0;
    transition: transform var(--easeInOutQuad) 0.16s, opacity var(--easeInOutQuad) 1.6s;

    &--textarea {
      left: 4.2rem;
      top: 4.6rem;
    }

    i {
      font-weight: 300;
      font-style: inherit;
    }
  }

  // &__filename {
  //   padding: 1rem 0;
  //   z-index: -1;
  //   display: block;
  //   text-align: left;
  //   text-overflow: elipsis;
  //   overflow: hidden;
  // }

  &__input {
    font-size: 1.4rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 2;
    width: 100%;
    outline: 0;
    background-color: transparent;
    padding: 1.2rem 0 1.1rem;
    // color: inherit;
    color: currentColor;
    transition: background-color 99s linear 99s, color 99s linear 99s;
    resize: none;

    &--textarea {
      border: solid 1px #5f5f5f;
      border-bottom: none;
      padding: 2rem;
      margin-top: 3rem;
    }

    &--file {
      opacity: 0;
    }
  }

  &__textarea {
    border-radius: 0.4rem;
border: 1px solid #d9d9d9;
opacity: 1;
    padding: 1.2rem 2rem;
    transition: border-color 200ms var(--easeOut);
  }

  &__error {
    color: red;
    font-size: 0.8rem;
    position: absolute;
    top: 100%;
    left: 2rem;
    right: 2rem;
    font-weight: 500;
    opacity: 0;
    transform: translate3d(0, -0.8rem, 0);
    pointer-events: none;
  }

  &__label {
    font-size: inherit;
    flex: 0 0 50%;
  }

  &__control {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: -0.1rem;
    left: 2rem;
    border: solid 1px #efefef;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    transition: border-color 200ms var(--easeOut);
    border-radius: 0.2rem;

    &:before {
      content: '';
      position: absolute;
      top: 0.7rem;
      left: 0.7rem;
      width: 0.8rem;
      height: 0.8rem;
      opacity: 0;
      transform: scale(0);
      transition: opacity 160ms var(--easeOut), transform 200ms var(--easeOutBack);
    }

    &--checkbox {
      top: -0.1rem;
      left: 2rem;

      &:before {
        border-bottom: solid 1px #fdc805;
        border-left: solid 1px #fdc805;
        border-radius: 0;
        height: 0.4rem;
        transform: rotate(-45deg) scale(0);
      }
    }

    &--radio {
      border-radius: 50%;

      &:before {
        font-size: 0.6rem;
        border-radius: 50%;
        background-color: #fdc805;
        // background-color: #f3c007;
      }
    }
  }

  &__inlabel {
    cursor: pointer;
    display: block;
    color: #a0a0a0;
    padding-left: 4rem;

    a {
      text-decoration: underline;
    }

    p {
      margin: 0;
    }

    &--dark {
      color: #000;
    }
    [data-modal-trigger] {
      cursor: pointer;
      color: #fdc805;
    }
  }

  // &__success {
  //   width: 100%;
  //   font-weight: 500;
  //   padding: 0.9rem 0 2.1rem;
  //   font-size: 1.8rem;

  //   @media #{$min415} {
  //     padding: 2.2rem 0 0.7rem;
  //     font-size: 3rem;
  //     text-align: center;
  //   }
  // }

  &__native {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    z-index: -9;
    overflow: hidden;
    display: block;

    &--file {
      pointer-events: all;
      cursor: pointer;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &.has-error {
    &:before {
      transform-origin: 0% 50%;
      transform: scale(1, 1);
      background-color: red;
    }

    .field {
      &__error {
        transition: opacity 160ms var(--e), transform 160ms var(--e);
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      &__control {
        border-color: red;
      }
    }
  }

  &.is-focused {
    &:before {
      transform-origin: 0% 50%;
      transform: scale(1, 1);
      background-color: #fdc805;
    }

    .field {
      &__control {
        border-color: #fdc805;
      }
      &__textarea {
        border-color: #fdc805;
      }
    }
  }

  &.has-value {
    .field {
      &__control {
        // border-color: #efefef;

        &:before {
          opacity: 1;
          transform: scale(1);
        }

        &--checkbox {
          &:before {
            transform: rotate(-45deg) scale(1);
          }
        }
      }
    }
  }

  &.is-focused,
  &.has-value {
    .field {
      &__placeholder {
        transform: translate3d(0, -1.7rem, 0) scale(0.7);
        opacity: 0.5;

        &--textarea {
          transform: translate3d(-2.2rem, -4rem, 0) scale(0.7);
        }
      }
    }
  }
}
