.scrollto {
  color: #fff;
  cursor: pointer;
  transition: opacity 220ms var(--e);

  &__label {
    left: -10rem;
    right: -10rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 0.7rem 0 2.7rem;
    display: block;
    color: currentColor;
    font-family: 'Cervo', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.21em;
    transition: transform 220ms var(--e);
  }

  &__icon {
    transition: border-color 220ms var(--e);
    display: block;
    border-radius: 50%;
    width: 3.6rem;
    height: 3.6rem;
    position: absolute;
    top: -1.8rem;
    left: -1.8rem;
    padding: 1rem;
    border: solid 1px rgba(255, 255, 255, 0.3);

    svg {
      display: block;
      width: 100%;
    }
  }

  @include hover {
    opacity: 0.7;

    .scrollto {
      &__icon {
        border-color: #fff;
      }

      &__label {
        transform: translate3d(0, -0.3rem, 0);
      }
    }
  }
}
