{% set map_zoom = 15.5 %}
{% set map_center_lat = 56.2031 %}
{% set map_center_lng = 24.76 %}

{% set map_markers = [
  {
    lat: 56.2031,
    lng: 24.76,
    pin: "http://0.0.0.0:9000/dist/assets/img/marker.svg"
  }
] %}

<div class="app__modal modal modal--white" data-modal="map">
  <div class="modal__dialog modal__dialog--full">
    <div class="modal__header">
      <div class="modal__close-text close underlink" data-modal-close>CLOSE</div>
    </div>
    <div class="modal__map map">
      <div class="map__embed" data-map="contacts" data-map-zoom="{{map_zoom}}" data-map-center-lat="{{map_center_lat}}" data-map-center-lng="{{map_center_lng}}" data-map-markers='{{map_markers|json_encode()}}'></div>
      <div class="map__address">Verkių g. 29, Ogmios miestas, Šeimos aikštelė 3 Vilnius</div>
    </div>
  </div>
</div>
