<div class="app__modal modal" data-modal="room1">
  <div class="modal__dialog">
    <div class="modal__more more">
      <i class="modal__close-icon" data-modal-close></i>
      <div class="more__slider" data-slider="room">
        <div class="more__container swiper-container" data-slider-target>
          <div class="more__wrapper swiper-wrapper">
            <div class="more__slide swiper-slide">
              <picture>
                <source media="(max-width: 375px)" srcset="./media/more__image.png">
                <source srcset="./media/more__image.png" type="image/png">
                <source srcset="./media/more__image.webp" type="image/webp">
                <img alt="" class="more__image" loading="lazy" src="./media/more__image.png" title=""/>
              </picture>
            </div>
            <div class="more__slide swiper-slide">
              <picture>
                <source media="(max-width: 375px)" srcset="./media/gallery__slide.png">
                <source srcset="./media/gallery__slide.png" type="image/png">
                <source srcset="./media/gallery__slide.webp" type="image/webp">
                <img alt="" class="more__image" loading="lazy" src="./media/gallery__slide.png" title=""/>
              </picture>
            </div>
            <div class="more__slide swiper-slide">
              <picture>
                <source media="(max-width: 375px)" srcset="./media/more__image.png">
                <source srcset="./media/more__image.png" type="image/png">
                <source srcset="./media/more__image.webp" type="image/webp">
                <img alt="" class="more__image" loading="lazy" src="./media/more__image.png" title=""/>
              </picture>
            </div>
          </div>
        </div>
        <i class="more__nav more__nav--prev" data-slider-prev>
          {% include '../../svg/arrow--left.svg.twig' %}
        </i>
        <i class="more__nav more__nav--next" data-slider-next>
          {% include '../../svg/arrow--right.svg.twig' %}
        </i>
      </div>
      <div class="more__content">
        <div class="more__section">
          <div class="more__subtitle">Duis aute irure dolor in reprehenderit in voluptate</div>
          <div class="more__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="more__section">
          <div class="more__subtitle">Excepteur sint occaecat cupidatat non proident</div>
          <div class="more__text">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <i class="modal__backdrop" data-modal-close></i>
</div>
