<div class="app__modal modal modal--white" data-modal="video">
  <div class="modal__dialog modal__dialog--full">
    <div class="modal__header">
      <div class="modal__close-text close underlink" data-modal-close>CLOSE</div>
    </div>
    <div class="modal__player player" data-player>
      <video class="player__video" data-player-file poster="./media/poster.png" src="./media/skypark.mp4"></video>
      <div class="player__play play" data-player-play>
        <i class="play__icon">
          {% include '../../svg/play.svg.twig' %}
        </i>
        <span class="play__label">PLAY VIDEO</span>
      </div>
    </div>
  </div>
</div>
