.default {
  &__intro {
    @include flex;
    overflow: hidden;
    width: 100%;
    // position: relative;
    position: fixed;
    will-change: transform;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 2.6rem;
    height: 42.6rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url('../../img/intro__background--mobile.png');

    @media #{$min769} {
      background-image: url('../../img/intro__background--desktop.png');
    }

    @media #{$min769} {
      padding-top: 4rem;
      height: 40.2rem;
    }
  }

  &__container {
    &--pricing {
      max-width: 98rem;
    }

    &--booking {
      max-width: 88rem;
    }

    &--timetable {
      max-width: 113.4rem;
    }
  }

  &__content {
    background-color: #fff;
    position: relative;
    z-index: 2;
    padding: 4.9rem 0;

    @media #{$min769} {
      padding: 6.7rem 0;
    }

    &--booking {
      padding: 3.1rem 0;
    }
  }

  &__section {
    position: relative;

    &--player {
      padding: 0rem 0 1.6rem;

      @media #{$min769} {
        padding: 4.7rem 0 6.5rem;
      }
    }
  }

  &__wysiwyg {
    padding: 1rem 0;

    @media #{$min769} {
      padding: 2.9rem 0;
    }
  }

  &__quick-nav {
    margin-top: -2.7rem;
    margin-bottom: -1.1rem;

    @media #{$min769} {
      margin-top: -4rem;
      margin-bottom: 6.1rem;
    }
  }

  &__expand {
    @media #{$min769} {
      padding: 1.7rem 0;
    }
  }

  &__player {
    transition: border-width 300ms;
    border: solid 0.4rem #ffd800;

    @media #{$min769} {
      border: solid 1.2rem #ffd800;
    }
  }

  &__scene {
    &--4 {
      width: 11.4rem;
      height: 11.4rem;
      max-width: 9.4rem;
      max-height: 9.4rem;
    }
  }
}
