.home {
  &__hero {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    will-change: transform;
  }

  &__tiles {
    background-color: #fff;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
}
