.invitation {
  font-family: 'Cervo', Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #fdc805;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  line-height: 1.33;

  &__container {
    position: relative;
    max-width: 64rem;

    @include flex;
    min-height: 100vh;
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  &__intro {
  }

  &__heading {
    text-transform: uppercase;
    padding: 7rem 0;

    @media #{$min769} {
      padding: 0;
    }
  }

  &__text {
    padding: 0 0rem;

    @media #{$min769} {
      padding: 0 1rem;
    }
  }

  &__blocks {
    width: 100%;

    @media #{$min769} {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
    }
  }

  &__block {
    padding: 2rem 0;

    @media #{$min769} {
      width: 50%;
      padding: 1.4rem;
    }

    &--1 {
      @media #{$min769} {
        border-right: solid 1px rgba(255, 255, 255, 0.5);
      }
    }

    &--2 {
    }
  }

  &__label {
  }

  &__value {
    letter-spacing: 0.48rem;
    font-size: 4.8rem;

    @media #{$min769} {
      padding: 0rem;
    }
  }

  &__address {
    display: flex;
    align-items: center;
    align-content: flex-start;
    text-align: left;

    @media #{$min769} {
      justify-content: center;
      text-align: center;
      position: absolute;
      bottom: 2.8rem;
      left: 2rem;
      right: 2rem;
      cursor: pointer;
    }

    svg {
      display: block;
      width: 2rem;
      margin-right: 2.1rem;
      height: 2.8rem;
    }
  }

  &__confetti {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 3;
    pointer-events: none;
  }
}