.success {
  text-align: center;
  background-color: #fdc805;
  color: #fff;

  &__container {
    position: relative;
    max-width: 64rem;

    @include flex;
    min-height: 100vh;
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  &__heading {
    text-transform: uppercase;
    margin: 3rem 0;

    @media #{$min769} {
      margin: 7rem 0;
    }
  }

  &__cta {
    margin: 3rem 0;

    @media #{$min769} {
      margin: 7rem 0;
    }
  }

  &__confetti {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 3;
    pointer-events: none;
  }
}
